//directvives style`s

.header-site {
  height: 87px;
  width: 100%;
  background: white;
  .header-site-content {
    .header-site-content-logo {
      float: left;
      width: 250px;
      img{
        height: 87px;
      }
    }
    .header-site-content-menu {
      float: right;
      margin-right: 15px;
      ul {
        li {
          float: left;
          margin-left: 55px;
          display: block;
          margin-top: 15px;

          color: #303030;

        }

      }
    }
  }
}

//media

@media (min-width: 1500px) {


}

@media (min-width: 1200px) and (max-width: 1499px) {


}

@media (min-width: 992px) and (max-width: 1200px) {
    header.header-site {
      .header-site-content-media-menu {
        display: none !important;
      }
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 540px) and (max-width: 768px) {

}

@media (max-width: 540px) {

}