//directvives style`s

.header-site {
  height: 87px;
  width: 100%;
  background: white;
  position: fixed;
  top:40px;
  z-index: 8;
  .header-site-content {
    .header-site-content-logo {
      float: left;
      width: 250px;
      img {
        height: 87px;
      }
    }
    .header-site-content-menu {
      float: right;
      margin-right: 15px;
      ul {
        li {
          float: left;
          margin-left: 42px;
          display: block;
          margin-top: 15px;
          color: #303030;
          transition: .5s all;
          position: relative;

          a {
            font-size: 11px;
            text-transform: uppercase;
            display: block;
            margin-top: 11px;
            text-decoration: none;
            color: #595959;

          }
          ul {
            position: absolute;
            padding: 0;
            margin-top: 17px;
            margin-left: -5px;
            border-top: 36px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            transition: .5s opacity;
            li {
              float: none !important;
              margin: 0;
              padding: 10px 10px;
              background: #393D49;
              box-sizing: border-box;
              transition: .5s background;
              border-left: 2px solid transparent;
              a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0;
              }
              ul {
                position: absolute;
                padding: 0;
                margin-top: -9px;
                margin-left: -12px;
                border-top: 40px solid transparent;
                width: 150px;
                opacity: 0;
                top: -9999em;
                height: 0;
                transition: .5s opacity, height;
                li {
                  background: #282B33;
                  transition: 0.2s all;
                  a {
                    color: white;
                    text-transform: none;
                    font-size: 10px;
                    margin-top: 0;
                  }
                }
                li:nth-child(1) {
                  border-top: none !important;
                }

                li:hover {
                  border: none;
                  background: #F68B1F;
                  margin-bottom: 0 !important;
                }
                li:after {
                  border: none !important;
                }
              }
            }
            li:nth-child(1) {
              border-top: 2px solid #F78B20;;
            }
            li::after {
              content: " ";
              position: absolute;
              border: 5px solid;
              border-color: #ffffff transparent transparent transparent !important;
              top: 0.8em !important;
              right: 0.5em !important;
              transition: 0.3s;
            }
            li:hover::after {
              transform: scaleY(-1);
              top: 0.4em;
            }
            li:hover {
              background: #4E5465;
              border-left: 2px solid #F78B20;
            }
          }
          .header-site-content-menu_trading_list {

            #trade_1, #trade_2, #trade_3, #trade_4, #trade_5 {

            }
            & .active {
              margin-bottom: 95px;
              .treading_list {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(1)::after {
              border: none;
            }
          }
          & .active {
            opacity: 1;
            top: 0;
          }

          .header-site-content-menu_research_list {

            #research_1, #research_2, #research_3 {

            }
            & .active {
              margin-bottom: 95px;
              .research_list {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }

            li:nth-child(1)::after {
              border: none;
            }
          }
          & .active {
            opacity: 1;
            top: 0;
          }

          .header-site-content-menu_why_list {

            margin-left: -65px;

            #why_1, #why_2 {

            }
            & .active {
              margin-bottom: 157px;
              .why_list {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
          }
          & .active {
            opacity: 1;
            top: 0;
          }

        }
        li:nth-child(1):after,
        li:nth-child(2):after,
        li:nth-child(5):after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #F78B20 transparent transparent transparent;
          top: 0.9em;
          right: -1.5em;
          transition: 0.3s;
        }
        li:hover::after {
          transform: scaleY(-1);
          top: 0.6em;
        }

      }
    }
  }
}

//media

@media (min-width: 1500px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 540px) and (max-width: 768px) {

}

@media (max-width: 540px) {

}