//directvives style`s

.header-site {
  height: 87px;
  width: 100%;
  background: white;
  .header-site-content {
    .header-site-content-logo {
      float: left;
      width: 250px;
      img {
        height: 87px;
      }
    }
    .header-site-content-menu {
      float: right;
      margin-right: 15px;
      ul {
        li {
          float: left;
          margin-left: 42px;
          display: block;
          margin-top: 15px;
          color: #303030;
          transition: .5s all;
          position: relative;

          a {
            font-size: 11px;
            text-transform: uppercase;
            display: block;
            margin-top: 11px;
            text-decoration: none;
            color: #595959;

          }
          .header-site-content-menu_trading_list {
            position: absolute;
            padding: 0;
            margin-top: 17px;
            margin-left: -5px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            transition: .5s opacity;

            li {
              float: none !important;
              margin: 0;
              padding: 10px 10px;
              background: #393D49;
              box-sizing: border-box;
              transition: .5s background;

              a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0;
              }
              ul {
                position: absolute;
                padding: 0;
                margin-top: -9px;
                margin-left: -12px;
                border-top: 40px solid transparent;
                width: 150px;
                opacity: 0;
                top: -9999em;
                height: 0;
                transition: .5s opacity, height;
                li {
                  background: #282B33;
                  transition: 0.2s all;
                  a {
                    color: white;
                    text-transform: none;
                    font-size: 10px;
                    margin-top: 0;
                  }

                }
                li:hover {
                  border: none;
                  background: #F68B1F;
                  margin-bottom: 0 !important;
                }
                li:after {
                  border: none;
                }
              }

            }
            li:nth-child(2):hover {
              margin-bottom: 95px;
              .treading_list_1 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(3):hover {
              margin-bottom: 95px;
              .treading_list_2 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(4):hover {
              margin-bottom: 95px;
              .treading_list_3 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(5):hover {
              margin-bottom: 95px;
              .treading_list_4 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(6):hover {
              margin-bottom: 95px;
              .treading_list_5 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }

            li::after {
              content: " ";
              position: absolute;
              border: 5px solid;
              border-color: #ffffff transparent transparent transparent;
              top: 0.8em;
              right: 0.5em;
              transition: 0.3s;
            }
            li:nth-child(1)::after {
              border: none;
            }
            li:hover::after {
              transform: scaleY(-1);
              top: 0.4em;
            }
            li:hover {
              background: #4E5465;
              border-left: 2px solid #F78B20;
            }
          }
          .header-site-content-menu_research_list {
            position: absolute;
            padding: 0;
            margin-top: 17px;
            margin-left: -5px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            transition: .5s opacity;

            li {
              float: none !important;
              margin: 0;
              padding: 10px 10px;
              background: #393D49;
              box-sizing: border-box;
              transition: .8s background, margin-bottom;

              a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0;
              }
              ul {
                position: absolute;
                padding: 0;
                margin-top: -9px;
                margin-left: -12px;
                border-top: 40px solid transparent;
                width: 150px;
                opacity: 0;
                top: -9999em;
                height: 0;
                transition: .5s opacity, height;
                li {
                  background: #282B33;
                  transition: 0.2s all;
                  a {
                    color: white;
                    text-transform: none;
                    font-size: 10px;
                    margin-top: 0;
                  }
                }
                li:hover {
                  border: none;
                  background: #F68B1F;
                  margin-bottom: 0 !important;
                }
                li:after {
                  border: none;
                }
              }
            }
            li:nth-child(2):hover {
              margin-bottom: 95px;
              .research_list_1 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(3):hover {
              margin-bottom: 95px;
              .research_list_2 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(4):hover {
              .research_list_3 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li::after {
              content: " ";
              position: absolute;
              border: 5px solid;
              border-color: #ffffff transparent transparent transparent;
              top: 0.8em;
              right: 0.5em;
              transition: 0.3s;
            }
            li:nth-child(1)::after {
              border: none;
            }
            li:hover::after {
              transform: scaleY(-1);
              top: 0.4em;
            }
            li:hover {
              background: #4E5465;
              border-left: 2px solid #F78B20;
            }
          }
          .header-site-content-menu_why_list {
            position: absolute;
            padding: 0;
            margin-top: 17px;
            margin-left: -45px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            transition: .5s opacity;

            li {
              float: none !important;
              margin: 0;
              padding: 10px 10px;
              background: #393D49;
              box-sizing: border-box;
              transition: .5s background;

              a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0;
              }
              ul {
                position: absolute;
                padding: 0;
                margin-top: -9px;
                margin-left: -12px;
                border-top: 40px solid transparent;
                width: 150px;
                opacity: 0;
                top: -9999em;
                height: 0;
                transition: .5s opacity, height;
                li {
                  background: #282B33;
                  transition: 0.2s all;
                  a {
                    color: white;
                    text-transform: none;
                    font-size: 10px;
                    margin-top: 0;
                  }
                }
                li:hover {
                  border: none;
                  background: #F68B1F;
                  margin-bottom: 0 !important;
                }
                li:after {
                  border: none;
                }
              }
            }
            li:nth-child(1):hover {
              margin-bottom: 157px;
              .why_list_1 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li:nth-child(2):hover {
              margin-bottom: 157px;
              .why_list_2 {
                opacity: 1;
                top: 0;
                height: auto;
              }
            }
            li::after {
              content: " ";
              position: absolute;
              border: 5px solid;
              border-color: #ffffff transparent transparent transparent;
              top: 0.8em;
              right: 0.5em;
              transition: 0.3s;
            }
            li:hover::after {
              transform: scaleY(-1);
              top: 0.4em;
            }
            li:hover {
              background: #4E5465;
              border-left: 2px solid #F78B20;
            }
          }

        }
        li:nth-child(1):after,
        li:nth-child(2):after,
        li:nth-child(5):after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #F78B20 transparent transparent transparent;
          top: 0.9em;
          right: -1.5em;
          transition: 0.3s;
        }
        li:hover::after {
          transform: scaleY(-1);
          top: 0.6em;
        }
        li:nth-child(1):hover .header-site-content-menu_trading_list {
          opacity: 1;
          top: 0;
        }
        li:nth-child(2):hover .header-site-content-menu_research_list {
          opacity: 1;
          top: 0;
        }
        li:nth-child(5):hover .header-site-content-menu_why_list {
          opacity: 1;
          top: 0;
        }

      }
    }
  }
}

//media

@media (min-width: 1500px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 540px) and (max-width: 768px) {

}

@media (max-width: 540px) {

}