<div class="funds_security">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">
            <h2>{{'funds_security_main_title' | translate}}</h2>

            <h4>{{'funds_security_title1' | translate}}</h4>
            <p>{{'funds_security_text1' | translate}}</p>

            <h4>{{'funds_security_title2' | translate}}</h4>
            <p>{{'funds_security_text2' | translate}}</p>

            <h4>{{'funds_security_title3' | translate}}</h4>
            <p>{{'funds_security_text3' | translate}}</p>

            <h4>{{'funds_security_title4' | translate}}</h4>
            <p>{{'funds_security_text4' | translate}}</p>

            <h4>{{'funds_security_title5' | translate}}</h4>
            <p>{{'funds_security_text5' | translate}}</p>

            <h4>{{'funds_security_title6' | translate}}</h4>
            <p>{{'funds_security_text6' | translate}}</p>
            <p>{{'funds_security_text7' | translate}}</p>
            <p>{{'funds_security_text8' | translate}}</p>




        </div>


    </div>
    <footer-block></footer-block>


</div>