#partners {
  //font-family: 'Calibri';
  $bg_get_started_block: rgb(77, 176, 192);
  $white_text_color: rgb(255, 255, 255);
  $yellow_bg_buttong_color: rgb(242, 192, 70);
  $color_gray: rgb(127, 128, 129);
  $why_trade_bg: rgb(239, 240, 241);
  $platforms_text_color: rgb(76, 77, 78);
  $bg_orange_btn: rgb(231, 144, 62);

  $bg_empty_blue: rgb(52, 130, 186);
  $bg_empty_orange: rgb(229, 103, 52);

  $bg_empty_empty_light_orange: rgb(231, 144, 62);
  $bg_empty_yellow: rgb(242, 192, 70);
  $bg_empty_light_green: rgb(84, 188, 62);
  $bg_empty_light_blue: rgb(78, 173, 190);
  .header_image_parent {
    height: 350px;
    background: url("../img/partner_background.png");
    background-size: cover;
    img {
      width: 100%;
    }
  }
  //landing
  .get_started_block {
    width: 100%;
    background-color: $bg_empty_orange;
    color: $white_text_color;
    div {
      text-align: center;
      p:first-child {
        font-weight: 600;
        font-size: 23px;
        margin-bottom: 0;
      }
      p:last-child {
        margin-top: 0;
        font-size: 11px;
      }
      a {
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 20px;
      }
      a:first-child {
        background-color: $bg_empty_blue;
        border: 1px solid $bg_empty_blue;

      }
      a:last-child {
        border: 1px solid $bg_empty_blue;
      }

    }
    div.buttons {
      padding-right: 30px
    }

  }
  div.why_trade {
    padding: 20px 0;
    background-color: $why_trade_bg;
    h3 {
      color: #4D4D4D;
      font-size: 40px;
      padding-left: 100px;
    }
    p {

      margin: 0;
      color: #4D4D4D;
      text-align: left;
      font-size: 20px;
      font-weight: 600;
    }
    ul {
      padding: 0;
      li {
          text-align: center;

        list-style: none;
        margin: 25px;
        min-height: 125px;
        max-width: 120px;
        img {
          max-width: 81px;
        }
      }
    }
  }
  .why_trade > p {
    padding-left: 100px;
  }

  div.main_block {
    h2 {
      margin-top: 60px;
    }
    div.text_block {
      padding: 40px 60px;
      margin: 0 auto;
      p:first-child {
        margin-top: 0;
      }
      p.text {
        padding-left: 60px;
      }
    }
  }

  div.contact_form_block {
    margin-bottom: 140px;
    padding: 0 40px;
    div {
      margin: 0 auto;
      input {
        padding: 10px;
        margin: 5px;
        display: block;
      }
      div {
        padding-left: 75px;
        input {
          width: 640px;
        }
        p {
          padding-left: 7px;
          color: #4D4D4D;
          font-size: 15px;
        }
        button {
          margin-left: 7px;
          background: #FBBF15;
          padding: 12px 95px;
          border: none;
          color: white;
        }
      }
      div:first-child {
        input {
          width: 303px;
          //box-sizing: border-box;
        }
      }
    }

  }

  div.feedback {
    padding: 40px;
    .digit {
      font-size: 23px;
    }
    .sub_title {
      font-size: 9px;
      color: rgb(121, 122, 123);
    }
    .layout-column {
      text-align: center;
    }
  }
  //media
  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1499px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {
    .platforms_block {
      .layout-row {
        .flex-80 {
          max-width: 100%;
        }
      }
    }
    .contact_form_block{
      .flex-70{
        max-width: 85%;
        div{
          padding-left: 0;
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .get_started_block{
      .flex-70{
        max-width: 100%;
      }
    }
    .why_trade{
      ul{
        flex-wrap: wrap;
      }
    }
    .platforms_block {
      .layout-row {
        .flex-80 {
          max-width: 100%;
          p.text,h2{
            padding-left: 0 !important;
          }
        }
      }
    }
    .contact_form_block{
      .flex-70{
        max-width: 100%;
        padding-bottom: 100px;
        div:nth-child(1){
          flex-direction: column;
        }
        div{
          padding-left: 0;
          input{
            width: 400px !important;
          }

        }
      }
    }
  }

  @media (max-width: 540px) {
    .get_started_block{
      .flex-70{
        max-width: 100%;
      }
    }
    .why_trade{
      h3,p{
        padding: 0 !important;
        text-align: center;
      }
      ul{
        flex-wrap: wrap;
      }
    }
    .platforms_block {
      padding: 40px 0 !important;
      .layout-row {
        .flex-80 {
          padding: 0;
          max-width: 100%;
          p.text,h2{
            padding-left: 0 !important;

          }
          p.text{
            text-align: justify;
          }
        }
      }
    }
    .contact_form_block{
      padding: 0 !important;
      .flex-70{
        max-width: 100%;
        padding-bottom: 100px;
        div:nth-child(1){
          flex-direction: column;
        }
        div{
          padding-left: 0;
          input{
            width: 300px !important;
            margin: 5px 0;
            box-sizing: border-box;
          }

        }
      }
    }
  }
}