<div id="career">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block></header-slider-block>

    <!--<div class="header_image_parent"></div>-->

    <div class="container">

        <top-button></top-button>


        <div class="text_block">
           <h2>{{'career_main_title' | translate}}</h2>
            <p>{{'career_text1' | translate}}</p>
            <p>{{'career_text2' | translate}}</p>

            <h4>{{'career_title1' | translate}}</h4>
            <p>{{'career_text3' | translate}}</p>
            <p class="bold">{{'career_conditions' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list1_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list1_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list1_item3' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_responsibilities' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list2_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list2_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list2_item3' | translate}}</p>
                </li>
                <li>
                <li>
                    <p>{{'career_list2_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list2_item5' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_requirements' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list3_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list3_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list3_item3' | translate}}</p>
                </li>
                <li>
                <li>
                    <p>{{'career_list3_item4' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_welcome' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list4_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list4_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list4_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list4_item4' | translate}}</p>
                </li>
            </ul>


            <h4>{{'career_title2' | translate}}</h4>
            <p>{{'career_text4' | translate}}</p>
            <p class="bold">{{'career_conditions' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list5_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list5_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list5_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list5_item4' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_responsibilities' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list6_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list6_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list6_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list6_item4' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_requirements' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list7_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list7_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list7_item3' | translate}}</p>
                </li>
                <li>
                <li>
                    <p>{{'career_list7_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list7_item5' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_welcome' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list8_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list8_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list8_item3' | translate}}</p>
                </li>
            </ul>


            <h4>{{'career_title2' | translate}}</h4>
            <p>{{'career_text5' | translate}}</p>
            <p>{{'career_text6' | translate}}</p>
            <p class="bold">{{'career_conditions' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list9_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list9_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list9_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list9_item4' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_responsibilities' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list10_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list10_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list10_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list10_item4' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_requirements' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list11_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list11_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list11_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list11_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list11_item5' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list11_item6' | translate}}</p>
                </li>
            </ul>
            <p class="bold">{{'career_welcome' | translate}}</p>
            <ul>
                <li>
                    <p>{{'career_list12_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list12_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'career_list12_item3' | translate}}</p>
                </li>
            </ul>

            <h4>{{'career_title3' | translate}}</h4>
            <p>{{'career_text7' | translate}}</p>
            <p>{{'career_text8' | translate}}</p>

            <p></p>
            <p></p>
            <p></p>





        </div>


    </div>
    <footer-block></footer-block>


</div>