<div class="become_manager">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'investments'"></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">



            <h4>{{'become_manager_title1' | translate}}</h4>
            <p>{{'become_manager_text1'| translate}}</p>

            <h4>{{'become_manager_title2' | translate}}</h4>
            <p>{{'become_manager_text2'| translate}}</p>

            <h4>{{'become_manager_title3' | translate}}</h4>
            <p>{{'become_manager_text3'| translate}}</p>

            <h4>{{'become_manager_title4' | translate}}</h4>
            <p>{{'become_manager_text4'| translate}}</p>

            <h4>{{'become_manager_title5' | translate}}</h4>
            <p>{{'become_manager_text5'| translate}}</p>

            <h4>{{'become_manager_title6' | translate}}</h4>
            <p>{{'become_manager_text6'| translate}}</p>
            <p class="">{{'become_manager_text1_bold'| translate}}</p>
            <p class="italic">{{'become_manager_text1_italic'| translate}}</p>
            <p class="">{{'become_manager_text2_bold'| translate}}</p>
            <p class="italic">{{'become_manager_text2_italic'| translate}}</p>
            <p class="">{{'become_manager_text3_bold'| translate}}</p>
            <p>{{'become_manager_text7'| translate}}</p>

            <h4>{{'become_manager_title7' | translate}}</h4>
            <p>{{'become_manager_text8'| translate}}</p>
            <p>{{'become_manager_text9'| translate}}</p>
            <p>{{'become_manager_text10'| translate}}</p>
            <p>{{'become_manager_text11'| translate}}</p>
            <p>{{'become_manager_text12'| translate}}</p>






        </div>


    </div>

    <footer-block></footer-block>


</div>