.get_started_block {
  //width: 100%;

  color: $white_text_color;
  div {
    text-align: center;
    p:first-child {
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 0;
    }
    p:last-child {
      margin-top: 0;
      font-size: 15px;
      font-weight: 200;

    }
    a {
      display: block;

    }
    a:first-child {

      //margin-right: 10px;
    }

  }
  div:nth-child(2){
    //width: 30%;
  }



  //media

  @media (min-width: 1500px) {
    div:nth-child(2){
      width: 35%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1499px) {
    div:nth-child(2){
      width: 35%;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    div:nth-child(2){
      width: 43%;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    div:nth-child(2){
      width: 60%;
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    flex-direction: column;
    .buttons{
      justify-content: space-around;
      padding-right: 0px !important;
      p{
        display: none;
      }
      a{
        margin: 10px;
      }
    }
    div:nth-child(2){
      width: 100%;
    }
  }

  @media (max-width: 540px) {
    flex-direction: column;
    .buttons{
      flex-direction: column;
      justify-content: space-around;
      padding-right: 0px !important;
      p{
        display: none;
      }
      a{
        margin: 10px;
        width: 210px;
      }
    }
  }
}
