<div class="pamm_mam">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'investments'"></header-slider-block>

    <div class="container">

        <top-button></top-button>

        <div class="text_block">
            <h2>{{'pamm_mam_main_title' | translate}}</h2>

            <p>{{'pamm_mam_main_text1'| translate}}</p>
            <p>{{'pamm_mam_main_text2'| translate}}</p>
            <p>{{'pamm_mam_main_text3'| translate}}</p>
            <p>{{'pamm_mam_main_text4'| translate}}</p>

        </div>

        <div class="table_block">

            <div class="table">
                <div class="table_title"><h4>{{'pamm_mam_bills'| translate}}</h4></div>
                <table>
                    <thead style="text-align: center">
                    <tr>
                        <td>

                        </td>
                        <td>
                            <p>{{'pamm_mam_thead1'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_thead2'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_thead3'| translate}}</p>
                        </td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                           <p>{{'pamm_mam_Account_currency'| translate}}</p>
                        </td>
                        <td>
                            <p>USD, EUR, RUB</p>
                        </td>
                        <td>
                            <p> USD, AUD, CHF, EUR, GBP, JPY, RUB </p>
                        </td>
                        <td>
                            <p>mBTC LTC ETH CNH EUR USD RUB</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Financial_instruments'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Financial_instruments_50pairs'| translate}}</p>
                        </td>
                        <td>
                            <p> {{'pamm_mam_Financial_instruments_50pairs'| translate}} </p>
                        </td>
                        <td>
                            <p> {{'pamm_mam_Financial_instruments_cryptoPairs'| translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Commissions'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_no'| translate}}</p>
                        </td>
                        <td>
                            <p> {{'pamm_mam_Commissions_15'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Commissions_05'| translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Islamic_accounts'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Islamic_accounts_SWAP_free'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Islamic_accounts_SWAP_free'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Islamic_accounts_No_SWAP'| translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Masters_capital'| translate}}</p>
                        </td>
                        <td>
                            <p>USD 200; EUR 200; RUB 6,000;</p>
                        </td>
                        <td>
                            <p> USD 1,000; AUD 1,000; EUR 1,000; GBP 1,000; CHF 1,000; JPY 100,000; RUB 30,000; </p>
                        </td>
                        <td>
                            <p>USD 200; EUR 200; RUB 12,000; mBTC 300; LTC 20; CNH 1,250;</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Minimum_deposit'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_deposit_depends'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_deposit_depends'| translate}} </p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_deposit_depends'| translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Minimum_transaction'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_transaction_001'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_transaction_001'| translate}} </p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_Minimum_transaction_depends'| translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Margin_call'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 50%</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 100%</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 30%</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{'pamm_mam_Stop_out'| translate}}</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 30%</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 50%</p>
                        </td>
                        <td>
                            <p>{{'pamm_mam_margin_level'| translate}} 15%</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p style="color: white">*{{'pamm_mam_table_text'| translate}}</p>
            </div>



        </div>

        <div class="text_block">
            <h4>{{'pamm_mam_followers_benefits' | translate}}</h4>

            <p>{{'pamm_mam_followers_benefits1'| translate}}</p>
            <p>{{'pamm_mam_followers_benefits2'| translate}}</p>
            <p>{{'pamm_mam_followers_benefits3'| translate}}</p>

            <h4>{{'pamm_mam_masters_benefits' | translate}}</h4>

            <p>{{'pamm_mam_masters_benefits1'| translate}}</p>
            <p>{{'pamm_mam_masters_benefits2'| translate}}</p>
            <p>{{'pamm_mam_masters_benefits3'| translate}}</p>

        </div>


    </div>
    <footer-block></footer-block>
</div>