<div id="trading_accounts">
    <header-language-block></header-language-block>
    <header-block></header-block>
    <div class="header_image_parent"></div>
    <div class="container">
        <get-started-block></get-started-block>
        <div class="text_block">
            <h3>Trading Accounts</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum
            </p>

        </div>
        <div class="tabs">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Trading accounts">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">Trading accounts</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales
                            pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                            mi.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Account comparison">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">Account comparison</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales
                            pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                            mi.</p>

                        <div class="table">
                            <div layout="row">
                                <p flex="20">&nbsp;</p>
                                <p flex="40">Standart</p>
                                <p flex="40">Raw Spreads</p>

                            </div>
                            <div layout="row">
                                <p flex="20">Minimum Deposit</p>
                                <p flex="40">50</p>
                                <p flex="40">3,000</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Leverage</p>
                                <p flex="40">1:1, 1:10,1:20, 1:25,1:50,1:75,1:100,1:200,1:250,1:400,1:500</p>
                                <p flex="40">1:1, 1:10,1:20, 1:25,1:50,1:75,1:100,1:200,1:250,1:400,1:500</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Account Currency</p>
                                <p flex="40">USD, EUR, GBP</p>
                                <p flex="40">USD, EUR, GBP</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Margin Requirements</p>
                                <p flex="40">No extra margin <sup>1</sup></p>
                                <p flex="40">No extra margin <sup>1</sup></p>
                            </div>
                            <div layout="row">
                                <p flex="20">Execution Type</p>
                                <p flex="40">Market, no requotes</p>
                                <p flex="40">Market, no requotes</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Trading Instruments</p>
                                <p flex="40">CFDs on Fore Metal</p>
                                <p flex="40">CFDs on Fore Metal, Oil, Indices</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Trading Platform</p>
                                <p flex="40">MT4</p>
                                <p flex="40">MT4</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Spreads</p>
                                <p flex="40">Floating, from X.X pips</p>
                                <p flex="40">Floating, from X.X pips</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Commission</p>
                                <p flex="40">NO</p>
                                <p flex="40">$35 per mln USD traded</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Expert Advisors</p>
                                <p flex="40">NO</p>
                                <p flex="40">YES</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Minimum Trade Size</p>
                                <p flex="40">0.01</p>
                                <p flex="40">0.01</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Maximum Trade Size per Single Order</p>
                                <p flex="40">30</p>
                                <p flex="40">30</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Maximum Positions</p>
                                <p flex="40">Unlimited</p>
                                <p flex="40">Unlimited</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Margin Call</p>
                                <p flex="40">80%<sup>2</sup></p>
                                <p flex="40">80%<sup>2</sup></p>
                            </div>
                            <div layout="row">
                                <p flex="20">Stop Out Level</p>
                                <p flex="40">50%<sup>3</sup></p>
                                <p flex="40">50%<sup>3</sup></p>
                            </div>
                            <div layout="row">
                                <p flex="20">Negative Balance Protection</p>
                                <p flex="40">YES</p>
                                <p flex="40">YES</p>
                            </div>
                            <div layout="row">
                                <p flex="20">Swap Free</p>
                                <p flex="40">YES<sup>4</sup></p>
                                <p flex="40">YES<sup>4</sup></p>
                            </div>
                        </div>
                        <div class="buttons_block">
                            <a>Open Account</a>
                            <p class="warning_text">Trading involves risk, you may lose all of your invested capital</p>
                        </div>

                        <div class="notes">
                            <p class="notes_title">Notes:</p>

                            <ul>
                                <li>1. Only if margin level > 100%</li>
                                <li>2. Every Friday from 21.00 to 23.30 margin call is set to 100%,
                                    the company has the right to sell all instruments at any time to close only mode
                                </li>
                                <li>3. Every Friday from 21.00 to 23.30 stop out is set to 90%, the company has the right to sell
                                    all instruments at any time to close only mode
                                </li>
                                <li>4. Islamic accounts are granted upon company's approval and may charge an over night maintenance
                                    fee instead of swaps
                                </li>
                            </ul>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Demo account">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">Demo account</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales
                            pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies
                            mi.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>



    </div>

    <footer-block></footer-block>
</div>