#trading_accounts {
  .header_image_parent {
    height: 350px;
    background: url("../img/trading_accounts_0.png");
    background-size: cover;
    img {
      width: 100%;
    }
  }
  h3 {
    font-weight: 400;
  }
  .text_block {
    h3 {
      padding-left: 40px;
    }
    p {
      padding: 0 40px;
      font-size: 11px;
    }
  }

  .tabs {
    md-tabs .md-tab.md-active {
      color: $md-tabs-active;
    }
    md-tabs md-ink-bar {
      color: $md-tabs-active;
      background-color: $md-tabs-active;
    }
    md-tabs md-tabs-wrapper {
      border-color: $md-tabs-active;
    }
    h3 {
      margin: 0;
      color: $md-tabs-active;
      font-size: 23px;
    }
  }

  .buttons_block {
    padding-left: 20px;
    a {
      display: inline-block;
      color: $white_text_color;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px;
      background-color: $md-tabs-active;
    }
  }
  .warning_text {
    font-size: 8px;
    font-style: italic;
  }

  .notes {
    margin: 60px 20px;

    .notes_title {
      margin: 0;
      font-size: 13px;
      font-weight: bold;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        font-size: 13px;
        list-style: none;
      }
    }

  }

}