<div id="account_type">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'investments'"></header-slider-block>


    <!--<div class="header_image_parent"></div>-->

    <div class="container">

        <!--<get-started-block></get-started-block>-->

        <top-button></top-button>
        <div class="text_block">
            <p>{{'portfolio_investments_item1' | translate}}</p>
        </div>

        <!--<why-trade-block></why-trade-block>-->



    </div>
    <footer-block></footer-block>


</div>