<div id="general_information">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block></header-slider-block>

    <!--<div class="header_image_parent"></div>-->

    <div class="container">

        <top-button></top-button>


        <div class="text_block">
            <p>{{'general_information_text1' | translate}}</p>
            <p>{{'general_information_text2' | translate}}</p>
            <p>{{'general_information_text3' | translate}}</p>
            <p>{{'general_information_text4' | translate}}</p>
            <div class="line"></div>
            <p>{{'general_information_text5' | translate}}</p>
            <div class="line"></div>
            <h4>{{'general_information_title' | translate}}</h4>
            <p>{{'general_information_text6' | translate}}</p>
            <p>{{'general_information_text7' | translate}}</p>
            <p class="italic">{{'general_information_text1_italic' | translate}}</p>


        </div>


    </div>
    <footer-block></footer-block>


</div>