<div class="invest_pamm">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">



            <h4>{{'invest_pamm_title1' | translate}}</h4>
            <p>{{'invest_pamm_text1'| translate}}</p>
            <div class="line"></div>


            <h4>{{'invest_pamm_title2' | translate}}</h4>
            <p>{{'invest_pamm_text2'| translate}}</p>
            <ul>
                <li>
                    <p>{{'invest_pamm_list1_item1'| translate}}</p>
                </li>
                <li>
                    <p>{{'invest_pamm_list1_item2'| translate}}</p>
                </li>
                <li>
                    <p>{{'invest_pamm_list1_item3'| translate}}</p>
                </li>
                <li>
                    <p>{{'invest_pamm_list1_item4'| translate}}</p>
                </li>
            </ul>

            <h4>{{'invest_pamm_title3' | translate}}</h4>
            <p>{{'invest_pamm_text3'| translate}}</p>

            <h4>{{'invest_pamm_title4' | translate}}</h4>
            <p>{{'invest_pamm_text4'| translate}}</p>

            <h4>{{'invest_pamm_title5' | translate}}</h4>
            <p>{{'invest_pamm_text5'| translate}}</p>

            <h4>{{'invest_pamm_title6' | translate}}</h4>
            <p>{{'invest_pamm_text6'| translate}}</p>

            <h4>{{'invest_pamm_title7' | translate}}</h4>
            <p>{{'invest_pamm_text7'| translate}}</p>






        </div>


    </div>
    <footer-block></footer-block>


</div>