html{
  background-color: #353535;
}

body{
  background-color: #353535;

  font: {
    family: $Lato;
  };
}

::-webkit-scrollbar {
  width: 0px;
}

.container {
  margin: 0 auto;
}

a {
  cursor: pointer;
}

.btn_anim {
  position: relative;
}

.btn_anim:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(250, 248, 255, 0.49);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_anim:hover::before {
  opacity: 1;
  width: 100%;
}

.title_h2 {
  font-size: 32px;
  padding-left: 60px;
  margin-bottom: 0;
  color: $red_main;
}

.subtitle_h2 {
  padding-left: 60px;
  margin-bottom: 0;
  color: $red_main;
}

.text {
  color: #ffffff;
  font-size: 15px;
  &.sub_header {
    padding-top: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
  }
}

.menu_item_arrow {
  position: relative;
}

.menu_item_arrow:after {
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: #fa4659 transparent transparent transparent;
  top: 0.9em;
  right: -1.05em;
  transition: 0.3s;
}

.menu_item_arrow:hover::after {
  transform: scaleY(-1);
  top: 0.6em;
}

.text_block{
  padding: 60px 10px;
  font:{
    family: "Roboto",sans-serif;
  }
  .line{
    border: none;
    border-top: 1px solid #ffffff59;
    height: 0px;
    //background: $platforms_text_color;
    margin: 45px 0;
  }
  p{
    color: white;
    font-size: 15px;
    &.italic{
      font-style: italic;
      color: #88898b;
    }
    &.bold{
      font-weight: bold;
    }
    &.center{
      text-align: center;
    }
  }
  h4, h2{
    color: $red_main;
    margin-bottom: 30px;
  }
  h2{
    font-size: 40px;
  }
  ul{
    color: $red_main;
  }

  a{
    color: $red_main;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

.main_button{
  box-sizing: border-box;
  border-radius: 5px;
  font: {
    family: $Lato;
    size: 14px;
    //weight: bold;
  };
  text-transform: uppercase;
  background: $red_main;
  color: white;
  padding:13px 10px;
  border: 1px solid $red_main;
  &.primary{
    background: transparent;
    border-color: white;
  }
  &.orange{
    background: #f7b633;
    border-color: #f7b633;
  }
}



//@media (min-width: 1500px) {
//  .container {
//    width: 1440px;
//  }
//}
//and (max-width: 1500px)
@media (min-width: 1200px)  {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 310px;
  }
  .text_block{
    padding-top: 340px;
  }
}