$bg_get_started_block: rgb(77, 176, 192);
$white_text_color: rgb(255, 255, 255);
$yellow_bg_buttong_color: rgb(242, 192, 70);
$color_gray: rgb(127, 128, 129);
$why_trade_bg: rgb(239, 240, 241);
$platforms_text_color: rgb(76, 77, 78);
$bg_orange_btn: rgb(231, 144, 62);

$bg_empty_blue: rgb(52, 130, 186);
$bg_empty_orange: rgb(229, 103, 52);

$bg_empty_empty_light_orange: rgb(231, 144, 62);
$bg_empty_yellow: rgb(242, 192, 70);
$bg_empty_light_green: rgb(84, 188, 62);
$bg_empty_light_blue: rgb(78, 173, 190);