<div class="regional_representation">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">

<h2>{{'regional_representation_main_title' | translate}}</h2>

            <h4>{{'regional_representation_title1' | translate}}</h4>
            <p>{{'regional_representation_text1' | translate}}</p>
            <div class="line"></div>

            <h4>{{'regional_representation_title2' | translate}}</h4>
            <h4>{{'regional_representation_title3' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'regional_representation_list1_item1'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list1_item2'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list1_item3'| translate}}</p>
                </li>
            </ul>
            <div class="line"></div>

            <h4>{{'regional_representation_title4' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'regional_representation_list2_item1'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list2_item2'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list2_item3'| translate}}</p>
                </li>
            </ul>
            <div class="line"></div>

            <h4>{{'regional_representation_title5' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'regional_representation_list3_item1'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list3_item2'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list3_item3'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list3_item4'| translate}}</p>
                </li>
                <li>
                    <p>{{'regional_representation_list3_item5'| translate}}</p>
                </li>
            </ul>
            <div class="line"></div>
            <p>{{'regional_representation_text2' | translate}}<a href="mailto:partners@reevestrade.com ">
                partners@reevestrade.com </a></p>


        </div>


    </div>
    <footer-block></footer-block>


</div>