<div class="leverage">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'trading'"></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">



            <p>{{'leverage_text1' | translate}}</p>
            <p>{{'leverage_text2' | translate}}</p>
            <p>{{'leverage_text3' | translate}}</p>
            <p>{{'leverage_text4' | translate}}</p>
            <p>{{'leverage_text5' | translate}}</p>


        </div>


    </div>
    <footer-block></footer-block>


</div>