<div id="account_type">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'trading'"></header-slider-block>


    <!--<div class="header_image_parent"></div>-->
    
    <div class="container">

        <!--<get-started-block></get-started-block>-->

        <top-button></top-button>
        <div class="text_block">
            <h2>{{'account_type_main_title' | translate}}</h2>
            <p>{{'account_type_text1' | translate}}</p>
            <p>{{'account_type_text2' | translate}}</p>
            <p>{{'account_type_text3' | translate}}</p>

            <h4>{{'account_type_how_to' | translate}}</h4>
            <!--<p>{{'account_type_how_to1' | translate}}-->
                <!--<a target="_blank" href="https://desk.mirratrade.com">{{'account_type_how_to1_1' | translate}}</a>-->
                <!--{{'account_type_how_to1_2' | translate}}-->
            <!--</p>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<p>{{'account_type_how_to_reason1' | translate}}-->
                        <!--<a target="_blank" href="https://desk.mirratrade.com">{{'account_type_how_to_reason1_1' | translate}}</a>-->
                        <!--{{'account_type_how_to_reason1_2' | translate}}-->
                    <!--</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<p>{{'account_type_how_to_reason2' | translate}}</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<p>{{'account_type_how_to_reason3' | translate}}</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<p>{{'account_type_how_to_reason4' | translate}}</p>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<p>{{'account_type_how_to2' | translate}}-->
                <!--<a target="_blank" href="https://desk.mirratrade.com">{{'account_type_how_to2_1' | translate}}</a>-->
            <!--</p>-->
            <!--<p>-->
                <!--{{'account_type_how_to3' | translate}}-->
                <!--<a target="_blank" href="https://desk.mirratrade.com">{{'account_type_how_to3_1' | translate}}</a>-->
            <!--</p>-->

        </div>

        <div class="table_block">
            <!--<h3>{{'account_type_main_title' | translate}}</h3>-->

            <div class="table">
                <div class="table_title"><h4>{{'account_type_table_trade' | translate}}</h4></div>
                <table>
                    <thead style="text-align: center">
                    <tr>
                        <td>
                            <p></p>
                        </td>
                        <td>
                            <p>{{'account_type_thead1' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_thead2' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_thead3' | translate}}</p>
                        </td>
                        <td><p>
                            {{'account_type_thead4' | translate}}
                        </p></td>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td>
                            <p> {{'account_type_business_model' | translate}}</p>
                        </td>
                        <td>
                            <p>ESN</p>
                        </td>
                        <td>
                            <p> STP </p>
                        </td>
                        <td>
                            <p>ESN</p>
                        </td>
                        <td><p>  MM </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_minimum_deposit' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_minimum_deposit_from100' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_minimum_deposit_from10' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_minimum_deposit_from10' | translate}}</p>
                        </td>
                        <td><p>{{'account_type_minimum_deposit_from1' | translate}}</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_maximum_balance' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_maximum_balance_without_limitations' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_maximum_balance_without_limitations' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_maximum_balance_without_limitations' | translate}}</p>
                        </td>
                        <td><p>3 000 USD </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_spread' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_spread_floating_from0' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_spread_floating' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_spread_floating' | translate}}</p>
                        </td>
                        <td><p>  {{'account_type_spread_floating' | translate}}</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_commission' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_commission_from15' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_no' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_commission_05' | translate}}</p>
                        </td>
                        <td><p>  {{'account_type_no' | translate}}</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_quotes_format' | translate}}</p>
                        </td>
                        <td>
                            <p>0.12345</p>
                        </td>
                        <td>
                            <p> 0.12345 </p>
                        </td>
                        <td>
                            <p>0.12345</p>
                        </td>
                        <td>
                            <p>0.12345 </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_execution' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_execution_market' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_execution_market' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_execution_market' | translate}}</p>
                        </td>
                        <td><p>  {{'account_type_execution_instant' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_requotes' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_no_yes' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_no_yes' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_no_yes' | translate}}</p>
                        </td>
                        <td><p> {{'account_type_yes_no' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_minimum_transaction' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_01_lot' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_01_lot' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_01_lot' | translate}}</p>
                        </td>
                        <td><p>  {{'account_type_01_microlot' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_maximum_transaction' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_maximum_transaction_without_limit' | translate}}</p>
                        </td>
                        <td>
                            <p>  {{'account_type_maximum_transaction_without_limit' | translate}} </p>
                        </td>
                        <td>
                            <p> {{'account_type_maximum_transaction_without_limit' | translate}}</p>
                        </td>
                        <td><p> $ 1 000 000 </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_minimum_increment' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_01_lot' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_01_lot' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_01_lot' | translate}}</p>
                        </td>
                        <td><p>  {{'account_type_01_microlot' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_leverage' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_leverage_up15' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_leverage_up15' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_leverage_13' | translate}}</p>
                        </td>
                        <td><p> {{'account_type_leverage_up15' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_margin_call' | translate}}</p>
                        </td>
                        <td>
                            <p>100%</p>
                        </td>
                        <td>
                            <p> 50% </p>
                        </td>
                        <td>
                            <p>30%</p>
                        </td>
                        <td><p>20%</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_stop_out' | translate}}</p>
                        </td>
                        <td>
                            <p>50%</p>
                        </td>
                        <td>
                            <p>30% </p>
                        </td>
                        <td>
                            <p>15%</p>
                        </td>
                        <td><p>10%</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_demo_accounts' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>
                        </td>
                        <td><p> {{'account_type_no' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_islamic_accounts' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}} </p>
                        </td>
                        <td>
                            <p> {{'account_type_yes' | translate}}  </p>
                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}} </p>
                        </td>
                        <td><p> {{'account_type_yes' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_increments' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_increments_50CFD' | translate}}</p>
                        </td>
                        <td>
                            <p> {{'account_type_increments50' | translate}} </p>
                        </td>
                        <td>
                            <p>{{'account_type_increments43' | translate}}</p>
                        </td>
                        <td><p>{{'account_type_increments28' | translate}} </p></td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_bonuses' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_hedging' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_expert_advisors' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_scalping' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_news' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_phone_dealing' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> {{'account_type_market_depth' | translate}}</p>
                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_yes' | translate}}</p>

                        </td>
                        <td>
                            <p>{{'account_type_no' | translate}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                        </td>
                        <td>
                            <a href="https://desk.mirratrade.com/" target="_blank"><button class="main_button  btn_anim">{{ "account_type_open" | translate}}</button></a>

                        </td>
                        <td>
                            <a href="https://desk.mirratrade.com/" target="_blank"><button class="main_button  btn_anim">{{ "account_type_open" | translate}}</button></a>

                        </td>
                        <td>
                            <a href="https://desk.mirratrade.com/" target="_blank"><button class="main_button  btn_anim">{{ "account_type_open" | translate}}</button></a>

                        </td>
                        <td><p>
                            <a href="https://desk.mirratrade.com/" target="_blank"><button class="main_button  btn_anim">{{ "account_type_open" | translate}}</button></a>
                        </p></td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


        <!--<why-trade-block></why-trade-block>-->



    </div>
    <footer-block></footer-block>


</div>