#header_language_block {
  background: #282B33 !important;
  width: 100%;
  position: fixed;
  z-index: 10;
  top:0;
  .container {
    height: 40px;
    div {
      position: relative;
      span {
        color: #B3B2B4;
        width: 50px;
        display: block;
        cursor: pointer;
      }
      span:hover{

      }
      span:after {
        content: " ";
        position: absolute;
        border: 5px solid;
        border-color: #F78B20 transparent transparent transparent;
        top: 0.5em;
        right: 0.8em;
        transition: 0.3s;
      }
      .header_language_block_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 0px solid transparent;
        width: 50px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity;
        list-style-type: none;
        li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background;
          border-left: 2px solid transparent;
          color: white;
          text-transform: none;
          font-size: 10px;
          cursor: pointer;
        }
        li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20;
        }
      }
      & .active {
        opacity: 1;
        top: 0;
      }
    }

    button.header_language_block_account {
      margin-top: 1px;
      float: left;
      min-height: 26px;
      //width: 122px;
      padding: 0 12px;
      background: transparent;
      border-radius: 2px;
      border: 1px solid #C37323;
      color: #C37323;
      text-transform: uppercase;
      font-size: 13px;

    }
    button.header_language_block_client {
      margin-top: 1px;
      margin-left: 10px;
      float: left;
      border: none;
      background: transparent;
      color: #B3B2B4;
      svg {
        margin-left: 3px;
      }
    }

  }
}