<div id="header_language_block">
    <div class="container" layout="row" layout-align="end center">

        <div>
            <span ng-click="vm.openLang('.header_language_block_list')">{{"lang" | translate}}</span>
            <ul class="header_language_block_list">
                <li ng-click="vm.changeLang('en')">EN</li>
                <li ng-click="vm.changeLang('ru')">RU</li>
                <!--<li>UA</li>-->
                <!--<li>GR</li>-->
            </ul>
        </div>
        <button class="header_language_block_account btn_anim">{{ "header_language_block_account" | translate}}</button>
        <button class="header_language_block_client">{{ "header_language_block_client" | translate}}<i class="far fa-user"></i></button>
    </div>
</div>