html {
  background-color: #353535; }

body {
  background-color: #353535;
  font-family: "Lato", sans-serif; }

::-webkit-scrollbar {
  width: 0px; }

.container {
  margin: 0 auto; }

a {
  cursor: pointer; }

.btn_anim {
  position: relative; }

.btn_anim:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(250, 248, 255, 0.49);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn_anim:hover::before {
  opacity: 1;
  width: 100%; }

.title_h2 {
  font-size: 32px;
  padding-left: 60px;
  margin-bottom: 0;
  color: #fa4659; }

.subtitle_h2 {
  padding-left: 60px;
  margin-bottom: 0;
  color: #fa4659; }

.text {
  color: #ffffff;
  font-size: 15px; }
  .text.sub_header {
    padding-top: 15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize; }

.menu_item_arrow {
  position: relative; }

.menu_item_arrow:after {
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: #fa4659 transparent transparent transparent;
  top: 0.9em;
  right: -1.05em;
  transition: 0.3s; }

.menu_item_arrow:hover::after {
  transform: scaleY(-1);
  top: 0.6em; }

.text_block {
  padding: 60px 10px;
  font-family: "Roboto", sans-serif; }
  .text_block .line {
    border: none;
    border-top: 1px solid #ffffff59;
    height: 0px;
    margin: 45px 0; }
  .text_block p {
    color: white;
    font-size: 15px; }
    .text_block p.italic {
      font-style: italic;
      color: #88898b; }
    .text_block p.bold {
      font-weight: bold; }
    .text_block p.center {
      text-align: center; }
  .text_block h4, .text_block h2 {
    color: #fa4659;
    margin-bottom: 30px; }
  .text_block h2 {
    font-size: 40px; }
  .text_block ul {
    color: #fa4659; }
  .text_block a {
    color: #fa4659;
    text-decoration: none; }
  .text_block a:hover {
    text-decoration: underline; }

.table_block {
  min-height: calc(100vh - 185px);
  height: auto;
  padding: 100px 0;
  color: white; }
  .table_block h2 {
    text-align: left;
    font-style: italic; }
  .table_block p {
    font-size: 14px; }
  .table_block .table {
    border-radius: 15px;
    margin-bottom: 30px; }
    .table_block .table .table_title {
      background: rgba(0, 0, 0, 0.4);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      .table_block .table .table_title h4 {
        margin: 0;
        padding: 15px;
        color: #FFFFFF; }
    .table_block .table table {
      width: 100%;
      background: #dadadb;
      border-spacing: 0px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; }
      .table_block .table table p {
        color: #303030; }
      .table_block .table table thead tr {
        background: #767677; }
        .table_block .table table thead tr td:first-child {
          padding-left: 15px; }
        .table_block .table table thead tr td {
          font-weight: 200; }
          .table_block .table table thead tr td p {
            color: #ffffff; }
      .table_block .table table tbody {
        border-color: transparent; }
        .table_block .table table tbody tr td:first-child {
          padding-left: 15px; }
        .table_block .table table tbody tr td {
          border-bottom: 2px solid #ffffff;
          padding: 8px;
          overflow-wrap: break-word;
          text-align: center; }
        .table_block .table table tbody tr:last-child td {
          border: none; }
    .table_block .table table:nth-child(1) {
      background: transparent; }
      .table_block .table table:nth-child(1) p {
        font-size: 20px; }

.main_button {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background: #fa4659;
  color: white !important;
  padding: 13px 10px;
  border: 1px solid #fa4659;
  text-decoration: none; }
  .main_button.primary {
    background: transparent;
    border-color: white; }
  .main_button.orange {
    background: #f7b633;
    border-color: #f7b633; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px; } }

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px; } }

@media (max-width: 540px) {
  .container {
    width: 310px; }
  .text_block.home {
    padding-top: 340px; }
  .table_block table p {
    font-size: 8px; } }

#homepage {
  background-color: #353535; }
  #homepage .header_image_parent {
    height: 350px;
    background: url("../img/home_0.png");
    background-size: cover; }
    #homepage .header_image_parent img {
      width: 100%; }
  #homepage div.platforms_block div.text_block {
    padding: 40px 60px; }
    #homepage div.platforms_block div.text_block p:first-child {
      font-weight: 500;
      margin-top: 0; }
    #homepage div.platforms_block div.text_block .main_button {
      padding: 13px 30px; }
  #homepage div.platforms_block div.img_parent_block {
    padding-top: 40px; }
  #homepage div.platforms_block img {
    width: 100%; }
  #homepage div.images_block {
    padding: 0 40px; }
    #homepage div.images_block img {
      width: 100%;
      height: 100%; }
    #homepage div.images_block div div div svg {
      padding-left: 5px;
      font-size: 14px; }
    #homepage div.images_block .empty {
      padding: 15px;
      color: white; }
    #homepage div.images_block .empty_blue {
      background-color: #3482ba; }
    #homepage div.images_block .empty_orange {
      background-color: #e56734; }
    #homepage div.images_block .layout-row {
      height: 545px; }
    #homepage div.images_block .empty_light_orange {
      background-color: #e56734; }
    #homepage div.images_block .empty_yellow {
      background-color: #f2c046; }
    #homepage div.images_block .empty_light_green {
      background-color: #54bc3e; }
    #homepage div.images_block .empty_light_blue {
      background-color: #4eadbe; }
  #homepage div.feedback {
    color: white; }
    #homepage div.feedback .feedback_item {
      padding: 20px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      margin: 10px;
      min-width: 170px; }
    #homepage div.feedback .digit {
      font-size: 23px; }
    #homepage div.feedback .sub_title {
      font-size: 9px; }
    #homepage div.feedback .layout-column {
      text-align: center; }
  @media (min-width: 768px) and (max-width: 992px) {
    #homepage .images_block img {
      height: inherit !important; }
    #homepage .images_block .empty, #homepage .images_block .flex-50 {
      height: 168.25px;
      max-height: 100% !important;
      flex: initial; }
    #homepage .images_block > div.layout-row {
      height: inherit; }
    #homepage .images_block > div.layout-row > .flex-50:nth-child(2) {
      height: 336.5px; } }
  @media (min-width: 540px) and (max-width: 768px) {
    #homepage .platforms_block {
      padding-top: 55px; }
      #homepage .platforms_block .layout-row {
        flex-direction: column-reverse; }
        #homepage .platforms_block .layout-row div {
          max-width: 100%; }
    #homepage .images_block img {
      height: inherit !important; }
    #homepage .images_block .empty, #homepage .images_block .flex-50 {
      height: 105px;
      max-height: 100% !important;
      flex: initial; }
      #homepage .images_block .empty a, #homepage .images_block .flex-50 a {
        font-size: 13px; }
    #homepage .images_block > div.layout-row {
      height: inherit; }
    #homepage .images_block > div.layout-row > .flex-50:nth-child(2) {
      height: 210px; }
    #homepage .feedback {
      margin-bottom: 180px;
      flex-wrap: wrap !important; } }
  @media (max-width: 540px) {
    #homepage .platforms_block {
      padding-top: 340px; }
      #homepage .platforms_block .layout-row {
        flex-direction: column-reverse; }
        #homepage .platforms_block .layout-row div {
          max-width: 100%; }
    #homepage .images_block img {
      height: inherit !important; }
    #homepage .images_block .flex-25 {
      max-width: 100%; }
    #homepage .images_block .layout-row:nth-child(1) > .flex-25:nth-child(1) > .flex-50:nth-child(2),
    #homepage .images_block .layout-row:nth-child(1) > .flex-25:nth-child(3) > .flex-50:nth-child(1),
    #homepage .images_block .layout-row:nth-child(2) > .flex-25:nth-child(1) > .flex-50:nth-child(1),
    #homepage .images_block .layout-row:nth-child(2) > .flex-25:nth-child(2) > .flex-50:nth-child(2),
    #homepage .images_block .layout-row:nth-child(2) > .flex-25:nth-child(3) > .flex-50:nth-child(2),
    #homepage .images_block .layout-row:nth-child(2) > .flex-25:nth-child(4) > .flex-50:nth-child(1) {
      display: none; }
    #homepage .images_block .empty, #homepage .images_block .flex-50 {
      height: 105px;
      max-height: 100% !important;
      flex: initial;
      width: 100%; }
      #homepage .images_block .empty a, #homepage .images_block .flex-50 a {
        font-size: 13px; }
    #homepage .images_block > div.layout-row {
      height: inherit;
      flex-direction: column; }
    #homepage .images_block > div.layout-row > .flex-50:nth-child(2) {
      height: 210px;
      max-width: 100%; }
      #homepage .images_block > div.layout-row > .flex-50:nth-child(2) img {
        display: block; }
    #homepage .feedback {
      margin-bottom: 180px;
      flex-direction: column; }
    #homepage .text_block {
      padding-left: 5px !important;
      padding-right: 5px !important; }
      #homepage .text_block a {
        margin: 0 auto;
        text-align: center; } }

#account_type .table_block {
  padding-top: 0; }

.mt5 .main_button {
  margin: 10px  3px;
  display: inline-block;
  width: fit-content;
  position: relative; }

.pamm_mam .text_block ul {
  list-style: none; }

.pamm_mam .table_block {
  padding: 0 !important; }

.invest_pamm .text_block ul {
  list-style: none; }

.header-site {
  height: 87px;
  width: 100%;
  background: linear-gradient(#242424 0%, rgba(30, 30, 30, 0.5) 60%, transparent 95%);
  position: fixed;
  top: 40px;
  z-index: 8; }
  .header-site .header-site-content .header-site-content-logo {
    float: left;
    width: 250px; }
    .header-site .header-site-content .header-site-content-logo a {
      margin-top: 0;
      margin-left: 10px; }
      .header-site .header-site-content .header-site-content-logo a img {
        height: 35px;
        padding-top: 32px; }
  .header-site .header-site-content .header-site-content-menu {
    float: right;
    margin-right: 15px; }
    .header-site .header-site-content .header-site-content-menu ul li {
      float: left;
      margin-left: 42px;
      display: block;
      margin-top: 15px;
      color: #ffffff;
      transition: .5s all;
      position: relative; }
      .header-site .header-site-content .header-site-content-menu ul li a {
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        margin-top: 11px;
        text-decoration: none;
        color: #ffffff; }
      .header-site .header-site-content .header-site-content-menu ul li ul {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 36px solid transparent;
        width: 150px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity; }
        .header-site .header-site-content .header-site-content-menu ul li ul li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: linear-gradient(90deg, #333333 0%, #5a5454 100%);
          box-sizing: border-box;
          transition: .5s background;
          border-left: 2px solid #333333; }
          .header-site .header-site-content .header-site-content-menu ul li ul li a {
            color: white;
            text-transform: none;
            font-size: 10px;
            margin-top: 0; }
          .header-site .header-site-content .header-site-content-menu ul li ul li ul {
            position: absolute;
            padding: 0;
            margin-top: -9px;
            margin-left: -12px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            height: 0;
            transition: .5s opacity, height; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li {
              background: linear-gradient(90deg, #333333 0%, #5a5454 100%);
              transition: 0.2s all; }
              .header-site .header-site-content .header-site-content-menu ul li ul li ul li a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:nth-child(1) {
              border-top: none !important; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:hover {
              border: none;
              background: #fa4659;
              margin-bottom: 0 !important; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:after {
              border: none !important; }
        .header-site .header-site-content .header-site-content-menu ul li ul li:nth-child(1) {
          border-top: 2px solid #fa4659; }
        .header-site .header-site-content .header-site-content-menu ul li ul li:hover {
          background: linear-gradient(90deg, #2d2d2d 0%, #5a5454 100%);
          border-left: 2px solid #fa4659; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .partners_list {
        width: 180px; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .about_list {
        margin-left: -65px; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
  .header-site .header-site-content .header_wrapper {
    width: 240px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(14, 24, 44, 0.2);
    z-index: 100;
    transition: transform ease-out 0.3s;
    transform: translateX(120%);
    overflow-y: auto; }
    .header-site .header-site-content .header_wrapper .header_wrapper_block {
      height: 100%;
      width: 100%;
      position: relative;
      min-height: 580px;
      padding-top: 126px; }
      .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu {
        border-top: 1px solid rgba(221, 226, 230, 0.5);
        width: 100%; }
        .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul {
          padding-left: 0; }
          .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li {
            color: #303030;
            float: none;
            margin-left: 30px !important; }
            .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li a {
              color: #303030;
              font-size: 13px;
              font-weight: 600;
              z-index: 2; }
            .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li ul {
              padding-left: 0;
              width: 190px;
              z-index: 3; }
              .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li ul li {
                color: white;
                margin-left: 0 !important; }
                .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li ul li a {
                  color: white;
                  font-weight: 200; }
            .header-site .header-site-content .header_wrapper .header_wrapper_block .header-site-content-menu ul li .about_list {
              margin-left: 0; }
      .header-site .header-site-content .header_wrapper .header_wrapper_block .header_wrapper_bottom {
        bottom: 0;
        border-top: 1px solid #ebeef0;
        padding: 30px;
        overflow: hidden;
        margin-top: auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        left: 0;
        right: 0; }
        .header-site .header-site-content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_button,
        .header-site .header-site-content .header_wrapper .header_wrapper_block .header_wrapper_bottom .header_site_content_social {
          float: none; }
    .header-site .header-site-content .header_wrapper .header_wrapper_close {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 10px;
      top: 28px;
      margin-top: 35px; }
      .header-site .header-site-content .header_wrapper .header_wrapper_close .main_button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0;
        background: transparent;
        border: 1px solid #fa4659; }
        .header-site .header-site-content .header_wrapper .header_wrapper_close .main_button svg {
          color: #fa4659; }
    .header-site .header-site-content .header_wrapper.active {
      transform: translateX(0%);
      transition: transform ease-out 0.3s; }
  .header-site .header-site-content .header_wrapper_open {
    float: right;
    margin-top: 27px; }
    .header-site .header-site-content .header_wrapper_open .main_button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      padding: 0;
      background: transparent;
      border: 1px solid #fa4659; }
      .header-site .header-site-content .header_wrapper_open .main_button svg {
        color: #fa4659; }

@media (min-width: 1500px) {
  .header_wrapper_open {
    display: none; } }

@media (min-width: 1200px) and (max-width: 1499px) {
  .header_wrapper_open {
    display: none; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .header_wrapper_open {
    display: none; } }

@media (min-width: 768px) and (max-width: 992px) {
  .header-site .header-site-content .header_wrapper_open {
    display: none; }
  .header-site .header-site-content .header-site-content-menu ul > li:nth-child(1) {
    margin-left: 0; }
  .header-site .header-site-content .header-site-content-menu ul {
    padding-left: 0; } }

@media (min-width: 540px) and (max-width: 768px) {
  .header-site .header-site-content .header-site-content-menu {
    display: none; }
  .header-site .header-site-content .header_wrapper .header-site-content-menu {
    display: block; } }

@media (max-width: 540px) {
  .header-site .header-site-content .header-site-content-menu {
    display: none; }
  .header-site .header-site-content .header_wrapper .header-site-content-menu {
    display: block; } }

#header_language_block {
  background: #464242 !important;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0; }
  #header_language_block .container {
    height: 40px; }
    #header_language_block .container div {
      position: relative; }
      #header_language_block .container div span {
        color: #B3B2B4;
        width: 50px;
        display: block;
        cursor: pointer; }
      #header_language_block .container div span:after {
        content: " ";
        position: absolute;
        border: 5px solid;
        border-color: #fa4659 transparent transparent transparent;
        top: 0.5em;
        right: 0.8em;
        transition: 0.3s; }
      #header_language_block .container div .header_language_block_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 0px solid transparent;
        width: 50px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity;
        list-style-type: none; }
        #header_language_block .container div .header_language_block_list li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background;
          border-left: 2px solid transparent;
          color: white;
          text-transform: none;
          font-size: 10px;
          cursor: pointer; }
        #header_language_block .container div .header_language_block_list li:hover {
          background: #4E5465;
          border-left: 2px solid #fa4659; }
      #header_language_block .container div .active {
        opacity: 1;
        top: 0; }
    #header_language_block .container button.header_language_block_account {
      margin-top: 1px;
      float: left;
      min-height: 26px;
      padding: 0 12px;
      background: transparent;
      border-radius: 2px;
      border: 1px solid #fa4659;
      color: #fa4659;
      text-transform: uppercase;
      font-size: 13px; }
    #header_language_block .container button.header_language_block_client {
      margin-top: 1px;
      margin-left: 10px;
      float: left;
      border: none;
      background: transparent;
      color: #B3B2B4; }
      #header_language_block .container button.header_language_block_client svg {
        margin-left: 3px; }

.header_slider_block {
  padding-top: 40px;
  background-image: url("../../content/img/header_slider_block_bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  box-sizing: border-box; }
  .header_slider_block.home {
    height: 1100px; }
    .header_slider_block.home scroll-button {
      position: absolute;
      bottom: 60%;
      left: 50%;
      margin: 0 auto;
      margin-left: -15px;
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      display: block; }
  .header_slider_block.trading {
    height: 480px;
    background-image: url("../../content/img/bg_trading.png"); }
    .header_slider_block.trading why-trade-block {
      display: none; }
    .header_slider_block.trading get-started-block {
      bottom: 15px; }
  .header_slider_block.investments {
    height: 480px;
    background-image: url("../../content/img/bg_investments.png"); }
    .header_slider_block.investments why-trade-block {
      display: none; }
    .header_slider_block.investments get-started-block {
      bottom: 15px; }
  .header_slider_block.competitions {
    height: 480px;
    background-image: url("../../content/img/bg_competitions.png"); }
    .header_slider_block.competitions why-trade-block {
      display: none; }
    .header_slider_block.competitions get-started-block {
      bottom: 15px; }
  .header_slider_block.partners {
    height: 480px;
    background-image: url("../../content/img/bg_partners.png"); }
    .header_slider_block.partners why-trade-block {
      display: none; }
    .header_slider_block.partners get-started-block {
      bottom: 15px; }
  .header_slider_block.about {
    height: 480px;
    background-image: url("../../content/img/bg_about.png"); }
    .header_slider_block.about why-trade-block {
      display: none; }
    .header_slider_block.about get-started-block {
      bottom: 15px; }
  .header_slider_block scroll-button {
    display: none; }
  .header_slider_block why-trade-block {
    position: absolute;
    bottom: 75px;
    width: 100%; }
  .header_slider_block get-started-block {
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    width: 100%;
    bottom: 500px; }
  @media (min-width: 540px) and (max-width: 768px) {
    .header_slider_block why-trade-block {
      bottom: -55px; } }
  @media (max-width: 540px) {
    .header_slider_block.home scroll-button {
      bottom: 75%; }
    .header_slider_block why-trade-block {
      bottom: -345px; } }

#footer-block {
  height: auto;
  width: 100%; }
  #footer-block .footer_block_account {
    height: 350px;
    width: 100%; }
    #footer-block .footer_block_account div {
      width: 50%;
      height: 350px; }
      #footer-block .footer_block_account div div {
        background: transparent;
        width: 400px;
        height: auto;
        margin-top: 90px; }
        #footer-block .footer_block_account div div h3 {
          text-transform: uppercase;
          font-size: 20px;
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 400; }
        #footer-block .footer_block_account div div p {
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200;
          font-size: 18px; }
    #footer-block .footer_block_account div.footer_block_account_left {
      background-image: url("../../content/img/footer/footer_demo account.png");
      background-position: center;
      background-size: cover; }
      #footer-block .footer_block_account div.footer_block_account_left div {
        float: right;
        margin-right: 100px; }
    #footer-block .footer_block_account div.footer_block_account_right {
      background-image: url("../../content/img/footer/footer_open account.png");
      background-position: center;
      background-size: cover; }
      #footer-block .footer_block_account div.footer_block_account_right div {
        float: left;
        margin-left: 100px; }
  #footer-block .footer_block_help {
    height: 80px;
    width: 100%;
    background: #fa4659; }
    #footer-block .footer_block_help h2 {
      color: white; }
    #footer-block .footer_block_help button {
      margin: 14px; }
      #footer-block .footer_block_help button i {
        font-size: 16px; }
  #footer-block .footer_block_info {
    width: 100%;
    height: auto;
    background: #303030; }
    #footer-block .footer_block_info .container {
      padding: 40px 0; }
      #footer-block .footer_block_info .container p, #footer-block .footer_block_info .container a, #footer-block .footer_block_info .container li {
        color: #B3B3B4;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        line-height: 19px;
        text-decoration: none;
        transition: .3s all;
        text-align: justify; }
      #footer-block .footer_block_info .container a:hover {
        cursor: pointer;
        text-decoration: underline;
        font-size: 13.5px; }
      #footer-block .footer_block_info .container div.flex-80 > div > div {
        color: #B3B3B4; }
  #footer-block .footer_block_warning {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #333333 0%, #5a5454 100%); }
    #footer-block .footer_block_warning .container {
      padding: 30px 0;
      color: #B3B3B4;
      font-family: "Roboto", sans-serif; }
      #footer-block .footer_block_warning .container h3 {
        padding-top: 20px;
        margin: 0;
        font-weight: 400;
        letter-spacing: 0.5px; }
      #footer-block .footer_block_warning .container p {
        margin: 0;
        padding: 10px 0;
        font-size: 12px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: 0.5px; }
  #footer-block .footer_block_reserved {
    width: 100%;
    height: 30px;
    background: linear-gradient(90deg, #333333 0%, #5a5454 100%); }
    #footer-block .footer_block_reserved .container {
      height: 30px; }
      #footer-block .footer_block_reserved .container p {
        margin: 0;
        color: #B3B3B4;
        font-size: 12px; }
      #footer-block .footer_block_reserved .container ul {
        margin: 0;
        list-style-type: none; }
        #footer-block .footer_block_reserved .container ul li {
          color: #B3B3B4;
          text-transform: uppercase;
          font-size: 12px;
          border-left: 1.5px solid #B3B3B4;
          padding: 0 7px;
          cursor: pointer; }
        #footer-block .footer_block_reserved .container ul li:first-child {
          border: none; }
        #footer-block .footer_block_reserved .container ul li:last-child {
          padding-right: 0; }
        #footer-block .footer_block_reserved .container ul li:hover {
          text-decoration: underline; }

@media (min-width: 768px) and (max-width: 992px) {
  footer .footer_block_account div div {
    width: 320px !important; }
  footer .footer_block_account .footer_block_account_left div {
    margin-right: 50px !important; }
  footer .footer_block_account .footer_block_account_right div {
    margin-left: 50px !important; } }

@media (min-width: 540px) and (max-width: 768px) {
  footer .footer_block_account {
    height: auto;
    flex-direction: column; }
    footer .footer_block_account div {
      width: 100% !important; }
      footer .footer_block_account div div {
        float: none !important;
        margin: 90px auto 60px !important;
        width: 320px !important; }
  footer .footer_block_help {
    margin-top: 160px; }
  footer .footer_block_info div {
    flex-direction: column;
    max-width: 100% !important; }
    footer .footer_block_info div div li {
      text-align: justify; }
    footer .footer_block_info div div div {
      margin-bottom: 40px; }
  footer .footer_block_warning p {
    text-align: justify; }
  footer .footer_block_reserved {
    height: 50px !important; } }

@media (max-width: 540px) {
  footer {
    padding-top: 200px; }
    footer .footer_block_account {
      height: auto;
      flex-direction: column; }
      footer .footer_block_account div {
        width: 100% !important; }
        footer .footer_block_account div div {
          float: none !important;
          margin: 90px auto 60px !important;
          width: 300px !important; }
    footer .footer_block_help {
      height: 160px !important;
      margin-top: 160px; }
      footer .footer_block_help div {
        text-align: center;
        display: flex;
        flex-direction: column; }
    footer .footer_block_info div {
      flex-direction: column;
      max-width: 100% !important; }
      footer .footer_block_info div div li {
        text-align: justify; }
      footer .footer_block_info div div div {
        margin-bottom: 40px; }
    footer .footer_block_warning p {
      text-align: justify; }
    footer .footer_block_reserved {
      height: 80px !important; }
      footer .footer_block_reserved div.container {
        display: flex;
        flex-direction: column; }
        footer .footer_block_reserved div.container p {
          padding: 10px 0 15px; }
        footer .footer_block_reserved div.container ul {
          padding: 0; }
          footer .footer_block_reserved div.container ul li {
            font-size: 11px !important; } }

.menu {
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: none; }
  .menu .menu-close {
    border: none;
    background: transparent;
    font-size: 65px;
    float: right;
    position: absolute;
    right: 1%; }
    .menu .menu-close svg {
      color: white; }
  .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 60vh; }
    .menu ul li {
      text-align: center; }
      .menu ul li a {
        font-size: 50px; }

@media (min-width: 540px) and (max-width: 768px) {
  .menu ul li a {
    font-size: 48px !important; } }

@media (max-width: 540px) {
  .menu .menu-close {
    font-size: 45px !important; }
  .menu ul li a {
    font-size: 40px !important; } }

.get_started_block {
  color: white; }
  .get_started_block div {
    text-align: center; }
    .get_started_block div p:first-child {
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 0; }
    .get_started_block div p:last-child {
      margin-top: 0;
      font-size: 15px;
      font-weight: 200; }
    .get_started_block div a {
      display: block; }
  @media (min-width: 1500px) {
    .get_started_block div:nth-child(2) {
      width: 35%; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .get_started_block div:nth-child(2) {
      width: 35%; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .get_started_block div:nth-child(2) {
      width: 43%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .get_started_block div:nth-child(2) {
      width: 60%; } }
  @media (min-width: 540px) and (max-width: 768px) {
    .get_started_block {
      flex-direction: column; }
      .get_started_block .buttons {
        justify-content: space-around;
        padding-right: 0px !important; }
        .get_started_block .buttons p {
          display: none; }
        .get_started_block .buttons a {
          margin: 10px; }
      .get_started_block div:nth-child(2) {
        width: 100%; } }
  @media (max-width: 540px) {
    .get_started_block {
      flex-direction: column; }
      .get_started_block .buttons {
        flex-direction: column;
        justify-content: space-around;
        padding-right: 0px !important; }
        .get_started_block .buttons p {
          display: none; }
        .get_started_block .buttons a {
          margin: 10px;
          width: 210px; } }

.top_button .top_button_click {
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 3px solid white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  opacity: 0;
  transition: 0.8s all; }
  .top_button .top_button_click svg {
    color: white;
    font-size: 30px; }

.top_button .active_top_button {
  opacity: 1 !important; }

.top_button .top_button_click:hover {
  background: #fa4659; }

.why_trade_block {
  padding: 20px 0 50px;
  background-color: #eff0f124;
  height: auto; }
  .why_trade_block p {
    margin: 20px;
    text-transform: uppercase;
    color: #fa4659;
    text-align: center;
    font-size: 36px;
    font-weight: 600; }
  .why_trade_block ul {
    padding: 0; }
    .why_trade_block ul li {
      list-style: none;
      margin: 25px;
      min-height: 125px;
      max-width: 105px; }
      .why_trade_block ul li img {
        max-width: 81px;
        filter: brightness(100); }
        .why_trade_block ul li img span {
          color: white !important; }
  @media (min-width: 540px) and (max-width: 768px) {
    .why_trade_block ul, .why_trade_block p {
      width: 530px;
      margin: 0 auto;
      flex-wrap: wrap; } }
  @media (max-width: 540px) {
    .why_trade_block ul {
      flex-wrap: wrap;
      width: 310px;
      margin: 0 auto; } }

.scroll_button {
  padding-top: 0 !important;
  width: auto !important; }
  .scroll_button a {
    box-sizing: border-box;
    position: relative;
    padding: 7px 15.5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-height: 50px;
    animation: arrow 1s infinite; }
    .scroll_button a i {
      font-size: 50px;
      position: relative;
      top: 5px; }
    .scroll_button a svg {
      font-size: 30px;
      line-height: 10px;
      margin-bottom: -13px;
      margin-top: -5px;
      color: white;
      transition: .4s color; }
  .scroll_button a.scroll:hover {
    border-color: linear-gradient(50deg #fa4659 0%, #fa4659 100%); }
    .scroll_button a.scroll:hover svg {
      color: #fa4659; }

@keyframes arrow {
  0% {
    padding-top: 7px; }
  50% {
    padding-top: 10px; } }
