#homepage .header_image_parent {
  height: 350px;
  background: url("../img/home_0.png");
  background-size: cover; }
  #homepage .header_image_parent img {
    width: 100%; }

#homepage .get_started_block {
  width: 100%;
  background-color: #4db0c0;
  color: white; }
  #homepage .get_started_block div {
    text-align: center; }
    #homepage .get_started_block div p:first-child {
      font-weight: 600;
      font-size: 23px;
      margin-bottom: 0; }
    #homepage .get_started_block div p:last-child {
      margin-top: 0;
      font-size: 11px; }
    #homepage .get_started_block div a {
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px; }
    #homepage .get_started_block div a:first-child {
      background-color: #f2c046;
      border: 1px solid #f2c046; }
    #homepage .get_started_block div a:last-child {
      border: 1px solid white; }
  #homepage .get_started_block div.buttons {
    padding-right: 30px; }

#homepage div.why_trade {
  padding: 20px 0;
  background-color: #eff0f1; }
  #homepage div.why_trade p {
    margin: 0;
    text-transform: uppercase;
    color: #7f8081;
    text-align: center;
    font-size: 23px;
    font-weight: 600; }
  #homepage div.why_trade ul {
    padding: 0; }
    #homepage div.why_trade ul li {
      list-style: none;
      margin: 25px;
      min-height: 125px; }
      #homepage div.why_trade ul li img {
        max-width: 81px; }
      #homepage div.why_trade ul li span {
        color: #7f8081;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        text-transform: capitalize; }

#homepage div.platforms_block {
  color: #4c4d4e; }
  #homepage div.platforms_block h1 {
    padding-left: 60px;
    margin-bottom: 0; }
  #homepage div.platforms_block div.text_block {
    padding: 40px 60px; }
    #homepage div.platforms_block div.text_block p:first-child {
      font-weight: 500;
      margin-top: 0; }
    #homepage div.platforms_block div.text_block p.text {
      font-size: 15px; }
    #homepage div.platforms_block div.text_block a {
      background-color: #e7903e;
      color: white;
      display: inline-block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 45px; }
  #homepage div.platforms_block div.img_parent_block {
    padding-top: 40px; }
  #homepage div.platforms_block img {
    width: 100%; }

#homepage div.images_block {
  padding: 0 40px; }
  #homepage div.images_block img {
    width: 100%;
    height: 100%; }
  #homepage div.images_block div div div svg {
    padding-left: 5px;
    font-size: 14px; }
  #homepage div.images_block .empty {
    padding: 15px;
    color: white; }
  #homepage div.images_block .empty_blue {
    background-color: #3482ba; }
  #homepage div.images_block .empty_orange {
    background-color: #e56734; }
  #homepage div.images_block .layout-row {
    height: 545px; }
  #homepage div.images_block .empty_light_orange {
    background-color: #e56734; }
  #homepage div.images_block .empty_yellow {
    background-color: #f2c046; }
  #homepage div.images_block .empty_light_green {
    background-color: #54bc3e; }
  #homepage div.images_block .empty_light_blue {
    background-color: #4eadbe; }

#homepage div.feedback {
  padding: 40px; }
  #homepage div.feedback .digit {
    font-size: 23px; }
  #homepage div.feedback .sub_title {
    font-size: 9px;
    color: #797a7b; }
  #homepage div.feedback .layout-column {
    text-align: center; }

.header-site {
  height: 87px;
  width: 100%;
  background: white; }
  .header-site .header-site-content .header-site-content-logo {
    float: left;
    width: 250px; }
    .header-site .header-site-content .header-site-content-logo img {
      height: 87px; }
  .header-site .header-site-content .header-site-content-menu {
    float: right;
    margin-right: 15px; }
    .header-site .header-site-content .header-site-content-menu ul li {
      float: left;
      margin-left: 42px;
      display: block;
      margin-top: 15px;
      color: #303030;
      transition: .5s all;
      position: relative; }
      .header-site .header-site-content .header-site-content-menu ul li a {
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        margin-top: 11px;
        text-decoration: none;
        color: #595959; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 40px solid transparent;
        width: 150px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li a {
            color: white;
            text-transform: none;
            font-size: 10px;
            margin-top: 0; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li ul {
            position: absolute;
            padding: 0;
            margin-top: -9px;
            margin-left: -12px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            height: 0;
            transition: .5s opacity, height; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li ul li {
              background: #282B33;
              transition: 0.2s all; }
              .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li ul li a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li ul li:hover {
              border: none;
              background: #F68B1F;
              margin-bottom: 0 !important; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li ul li:after {
              border: none; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(2):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(2):hover .treading_list_1 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(3):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(3):hover .treading_list_2 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(4):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(4):hover .treading_list_3 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(5):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(5):hover .treading_list_4 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(6):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(6):hover .treading_list_5 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li::after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #ffffff transparent transparent transparent;
          top: 0.8em;
          right: 0.5em;
          transition: 0.3s; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(1)::after {
          border: none; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:hover::after {
          transform: scaleY(-1);
          top: 0.4em; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 40px solid transparent;
        width: 150px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .8s background, margin-bottom; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li a {
            color: white;
            text-transform: none;
            font-size: 10px;
            margin-top: 0; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li ul {
            position: absolute;
            padding: 0;
            margin-top: -9px;
            margin-left: -12px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            height: 0;
            transition: .5s opacity, height; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li ul li {
              background: #282B33;
              transition: 0.2s all; }
              .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li ul li a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li ul li:hover {
              border: none;
              background: #F68B1F;
              margin-bottom: 0 !important; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li ul li:after {
              border: none; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(2):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(2):hover .research_list_1 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(3):hover {
          margin-bottom: 95px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(3):hover .research_list_2 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(4):hover .research_list_3 {
          opacity: 1;
          top: 0;
          height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li::after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #ffffff transparent transparent transparent;
          top: 0.8em;
          right: 0.5em;
          transition: 0.3s; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(1)::after {
          border: none; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:hover::after {
          transform: scaleY(-1);
          top: 0.4em; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -45px;
        border-top: 40px solid transparent;
        width: 150px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li a {
            color: white;
            text-transform: none;
            font-size: 10px;
            margin-top: 0; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li ul {
            position: absolute;
            padding: 0;
            margin-top: -9px;
            margin-left: -12px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            height: 0;
            transition: .5s opacity, height; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li ul li {
              background: #282B33;
              transition: 0.2s all; }
              .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li ul li a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li ul li:hover {
              border: none;
              background: #F68B1F;
              margin-bottom: 0 !important; }
            .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li ul li:after {
              border: none; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:nth-child(1):hover {
          margin-bottom: 157px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:nth-child(1):hover .why_list_1 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:nth-child(2):hover {
          margin-bottom: 157px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:nth-child(2):hover .why_list_2 {
            opacity: 1;
            top: 0;
            height: auto; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li::after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #ffffff transparent transparent transparent;
          top: 0.8em;
          right: 0.5em;
          transition: 0.3s; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:hover::after {
          transform: scaleY(-1);
          top: 0.4em; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20; }
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(1):after,
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(2):after,
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(5):after {
      content: " ";
      position: absolute;
      border: 5px solid;
      border-color: #F78B20 transparent transparent transparent;
      top: 0.9em;
      right: -1.5em;
      transition: 0.3s; }
    .header-site .header-site-content .header-site-content-menu ul li:hover::after {
      transform: scaleY(-1);
      top: 0.6em; }
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(1):hover .header-site-content-menu_trading_list {
      opacity: 1;
      top: 0; }
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(2):hover .header-site-content-menu_research_list {
      opacity: 1;
      top: 0; }
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(5):hover .header-site-content-menu_why_list {
      opacity: 1;
      top: 0; }

#header_language_block {
  background: #282B33 !important; }
  #header_language_block .container {
    height: 40px; }
    #header_language_block .container div md-input-container {
      width: 30px !important;
      color: #ffffff;
      float: left;
      margin: 0;
      margin-right: 50px; }
      #header_language_block .container div md-input-container md-select {
        width: 30px !important; }
        #header_language_block .container div md-input-container md-select md-select-value {
          border: none;
          min-width: 50px !important; }
          #header_language_block .container div md-input-container md-select md-select-value span {
            color: #B3B2B4;
            min-width: 0px;
            width: 20px; }
    #header_language_block .container button.header_language_block_account {
      margin-top: 1px;
      float: left;
      height: 26px;
      width: 122px;
      background: transparent;
      border-radius: 2px;
      border: 1px solid #C37323;
      color: #C37323;
      text-transform: uppercase;
      font-size: 13px; }
    #header_language_block .container button.header_language_block_client {
      margin-top: 1px;
      margin-left: 10px;
      float: left;
      border: none;
      background: transparent;
      color: #B3B2B4; }
      #header_language_block .container button.header_language_block_client svg {
        margin-left: 3px; }

#footer-block {
  height: auto;
  width: 100%; }
  #footer-block .footer_block_account {
    height: 350px;
    width: 100%; }
    #footer-block .footer_block_account div.footer_block_account_left {
      background-image: url("../../content/img/footer_demo account.png");
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 350px; }
      #footer-block .footer_block_account div.footer_block_account_left div {
        background: transparent;
        width: 400px;
        float: right;
        margin-right: 100px;
        margin-top: 90px; }
        #footer-block .footer_block_account div.footer_block_account_left div h3 {
          text-transform: uppercase;
          font-size: 20px;
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200; }
        #footer-block .footer_block_account div.footer_block_account_left div p {
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200;
          font-size: 18px; }
        #footer-block .footer_block_account div.footer_block_account_left div button {
          width: 260px;
          height: 46px;
          text-transform: uppercase;
          color: white;
          background: rgba(3, 131, 195, 0.8);
          border: none;
          border-radius: 3px; }
    #footer-block .footer_block_account div.footer_block_account_right {
      background-image: url("../../content/img/footer_open account.png");
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 350px; }
      #footer-block .footer_block_account div.footer_block_account_right div {
        background: transparent;
        width: 400px;
        float: left;
        margin-left: 100px;
        margin-top: 90px; }
        #footer-block .footer_block_account div.footer_block_account_right div h3 {
          text-transform: uppercase;
          font-size: 20px;
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200; }
        #footer-block .footer_block_account div.footer_block_account_right div p {
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200;
          font-size: 18px; }
        #footer-block .footer_block_account div.footer_block_account_right div button {
          width: 260px;
          height: 46px;
          text-transform: uppercase;
          color: white;
          background: rgba(224, 132, 46, 0.8);
          border: none;
          border-radius: 3px; }
  #footer-block .footer_block_help {
    height: 80px;
    width: 100%;
    background: #FBBF15; }
    #footer-block .footer_block_help h2 {
      color: white; }
    #footer-block .footer_block_help button {
      border: 1px solid #ffffff;
      background: transparent;
      color: white;
      width: 260px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 19px;
      margin-top: 10px;
      margin-left: 20px; }
      #footer-block .footer_block_help button i {
        font-size: 16px; }
  #footer-block .footer_block_nav {
    width: 100%;
    height: auto;
    background: #022C2F; }
    #footer-block .footer_block_nav li {
      cursor: pointer; }
    #footer-block .footer_block_nav li:hover {
      text-decoration: underline; }
    #footer-block .footer_block_nav .container ul {
      padding-left: 20px; }
    #footer-block .footer_block_nav .container .footer_block_nav_trading {
      width: 210px;
      color: #B3B3B4;
      margin-bottom: 40px; }
      #footer-block .footer_block_nav .container .footer_block_nav_trading h3 {
        color: #F58A21;
        text-transform: uppercase; }
      #footer-block .footer_block_nav .container .footer_block_nav_trading h4 {
        color: #B3B3B4;
        margin-bottom: 0; }
      #footer-block .footer_block_nav .container .footer_block_nav_trading ul {
        margin: 0; }
    #footer-block .footer_block_nav .container .footer_block_nav_research {
      width: 220px;
      color: #B3B3B4; }
      #footer-block .footer_block_nav .container .footer_block_nav_research h3 {
        color: #F58A21;
        text-transform: uppercase; }
      #footer-block .footer_block_nav .container .footer_block_nav_research h4 {
        color: #B3B3B4;
        margin-bottom: 0; }
      #footer-block .footer_block_nav .container .footer_block_nav_research ul {
        margin: 0; }
    #footer-block .footer_block_nav .container .footer_block_nav_partners {
      color: #B3B3B4; }
      #footer-block .footer_block_nav .container .footer_block_nav_partners h3 {
        color: #F58A21;
        text-transform: uppercase; }
      #footer-block .footer_block_nav .container .footer_block_nav_partners h4 {
        color: #B3B3B4;
        margin-bottom: 0; }
      #footer-block .footer_block_nav .container .footer_block_nav_partners ul {
        margin: 0; }
    #footer-block .footer_block_nav .container .footer_block_nav_contact {
      margin-top: 30px; }
      #footer-block .footer_block_nav .container .footer_block_nav_contact a {
        font-size: 20px;
        color: #B3B3B4;
        text-decoration: none;
        margin: 10px; }
      #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_email {
        margin: 15px; }
        #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_email div {
          width: 45px;
          height: 45px;
          background: #1B4143;
          border-radius: 50px; }
          #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_email div svg {
            color: #B3B3B4;
            font-size: 25px; }
      #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_phone {
        margin: 15px; }
        #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_phone div {
          width: 45px;
          height: 45px;
          background: #1B4143;
          border-radius: 50px; }
          #footer-block .footer_block_nav .container .footer_block_nav_contact .footer_block_nav_contact_phone div svg {
            color: #B3B3B4;
            font-size: 25px; }
  #footer-block .footer_block_warning {
    width: 100%;
    height: auto;
    background: #1B4143; }
    #footer-block .footer_block_warning .container {
      color: #B3B3B4;
      font-family: "Roboto", sans-serif; }
      #footer-block .footer_block_warning .container h3 {
        padding-top: 20px;
        margin: 0;
        font-weight: 400;
        letter-spacing: 0.5px; }
      #footer-block .footer_block_warning .container p {
        margin: 0;
        padding: 10px 0;
        font-size: 12px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: 0.5px; }
  #footer-block .footer_block_reserved {
    width: 100%;
    height: 30px;
    background: #022C2F; }
    #footer-block .footer_block_reserved .container {
      height: 30px; }
      #footer-block .footer_block_reserved .container p {
        margin: 0;
        color: #B3B3B4;
        font-size: 12px; }
      #footer-block .footer_block_reserved .container ul {
        list-style-type: none; }
        #footer-block .footer_block_reserved .container ul li {
          color: #B3B3B4;
          text-transform: uppercase;
          font-size: 12px;
          border-left: 1.5px solid #B3B3B4;
          padding: 0 7px; }
        #footer-block .footer_block_reserved .container ul li:first-child {
          border: none; }

.menu {
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: none; }
  .menu .menu-close {
    border: none;
    background: transparent;
    font-size: 65px;
    float: right;
    position: absolute;
    right: 1%; }
    .menu .menu-close svg {
      color: white; }
  .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 60vh; }
    .menu ul li {
      text-align: center; }
      .menu ul li a {
        font-size: 50px; }

@media (min-width: 540px) and (max-width: 768px) {
  .menu ul li a {
    font-size: 48px !important; } }

@media (max-width: 540px) {
  .menu .menu-close {
    font-size: 45px !important; }
  .menu ul li a {
    font-size: 40px !important; } }

::-webkit-scrollbar {
  width: 0px; }

.container {
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px; } }

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px; } }

@media (max-width: 540px) {
  .container {
    width: 310px; } }
