#homepage .header_image_parent {
  height: 350px;
  background: url("../img/home_0.png");
  background-size: cover; }
  #homepage .header_image_parent img {
    width: 100%; }

#homepage div.why_trade {
  padding: 20px 0;
  background-color: #eff0f1; }
  #homepage div.why_trade p {
    margin: 0;
    text-transform: uppercase;
    color: #7f8081;
    text-align: center;
    font-size: 23px;
    font-weight: 600; }
  #homepage div.why_trade ul {
    padding: 0; }
    #homepage div.why_trade ul li {
      list-style: none;
      margin: 25px;
      min-height: 125px; }
      #homepage div.why_trade ul li img {
        max-width: 81px; }
      #homepage div.why_trade ul li span {
        color: #7f8081;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        text-transform: capitalize; }

#homepage div.platforms_block {
  color: #4c4d4e; }
  #homepage div.platforms_block h1 {
    padding-left: 60px;
    margin-bottom: 0; }
  #homepage div.platforms_block div.text_block {
    padding: 40px 60px; }
    #homepage div.platforms_block div.text_block p:first-child {
      font-weight: 500;
      margin-top: 0; }
    #homepage div.platforms_block div.text_block p.text {
      font-size: 15px; }
    #homepage div.platforms_block div.text_block a {
      background-color: #e7903e;
      color: white;
      display: inline-block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 45px; }
  #homepage div.platforms_block div.img_parent_block {
    padding-top: 40px; }
  #homepage div.platforms_block img {
    width: 100%; }

#homepage div.images_block {
  padding: 0 40px; }
  #homepage div.images_block img {
    width: 100%;
    height: 100%; }
  #homepage div.images_block div div div svg {
    padding-left: 5px;
    font-size: 14px; }
  #homepage div.images_block .empty {
    padding: 15px;
    color: white; }
  #homepage div.images_block .empty_blue {
    background-color: #3482ba; }
  #homepage div.images_block .empty_orange {
    background-color: #e56734; }
  #homepage div.images_block .layout-row {
    height: 545px; }
  #homepage div.images_block .empty_light_orange {
    background-color: #e56734; }
  #homepage div.images_block .empty_yellow {
    background-color: #f2c046; }
  #homepage div.images_block .empty_light_green {
    background-color: #54bc3e; }
  #homepage div.images_block .empty_light_blue {
    background-color: #4eadbe; }

#homepage div.feedback {
  padding: 40px; }
  #homepage div.feedback .digit {
    font-size: 23px; }
  #homepage div.feedback .sub_title {
    font-size: 9px;
    color: #797a7b; }
  #homepage div.feedback .layout-column {
    text-align: center; }

#partners .header_image_parent {
  height: 350px;
  background: url("../img/partner_background.png");
  background-size: cover; }
  #partners .header_image_parent img {
    width: 100%; }

#partners .get_started_block {
  width: 100%;
  background-color: #e56734;
  color: white; }
  #partners .get_started_block div {
    text-align: center; }
    #partners .get_started_block div p:first-child {
      font-weight: 600;
      font-size: 23px;
      margin-bottom: 0; }
    #partners .get_started_block div p:last-child {
      margin-top: 0;
      font-size: 11px; }
    #partners .get_started_block div a {
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px; }
    #partners .get_started_block div a:first-child {
      background-color: #3482ba;
      border: 1px solid #3482ba; }
    #partners .get_started_block div a:last-child {
      border: 1px solid #3482ba; }
  #partners .get_started_block div.buttons {
    padding-right: 30px; }

#partners div.why_trade {
  padding: 20px 0;
  background-color: #eff0f1; }
  #partners div.why_trade h3 {
    color: #4D4D4D;
    font-size: 40px;
    padding-left: 100px; }
  #partners div.why_trade p {
    margin: 0;
    color: #4D4D4D;
    text-align: left;
    font-size: 20px;
    font-weight: 600; }
  #partners div.why_trade ul {
    padding: 0; }
    #partners div.why_trade ul li {
      list-style: none;
      margin: 25px;
      min-height: 125px; }
      #partners div.why_trade ul li p {
        text-align: center; }
      #partners div.why_trade ul li img {
        max-width: 81px; }
      #partners div.why_trade ul li span {
        color: #7f8081;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        text-transform: capitalize; }

#partners .why_trade > p {
  padding-left: 100px; }

#partners div.platforms_block {
  color: #4c4d4e; }
  #partners div.platforms_block h2 {
    padding-left: 60px;
    margin-bottom: 0;
    margin-top: 60px; }
  #partners div.platforms_block div.text_block {
    padding: 40px 60px;
    margin: 0 auto; }
    #partners div.platforms_block div.text_block p:first-child {
      margin-top: 0; }
    #partners div.platforms_block div.text_block p.text {
      font-size: 15px;
      padding-left: 60px; }
    #partners div.platforms_block div.text_block a {
      background-color: #e7903e;
      color: white;
      display: inline-block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 45px; }
  #partners div.platforms_block div.img_parent_block {
    padding-top: 40px; }
  #partners div.platforms_block img {
    width: 100%; }

#partners div.contact_form_block {
  margin-bottom: 140px;
  padding: 0 40px; }
  #partners div.contact_form_block div {
    margin: 0 auto; }
    #partners div.contact_form_block div input {
      padding: 10px;
      margin: 5px;
      display: block; }
    #partners div.contact_form_block div div {
      padding-left: 75px; }
      #partners div.contact_form_block div div input {
        width: 640px; }
      #partners div.contact_form_block div div p {
        padding-left: 7px;
        color: #4D4D4D;
        font-size: 15px; }
      #partners div.contact_form_block div div button {
        margin-left: 7px;
        background: #FBBF15;
        padding: 12px 95px;
        border: none;
        color: white; }
    #partners div.contact_form_block div div:first-child input {
      width: 303px; }

#partners div.feedback {
  padding: 40px; }
  #partners div.feedback .digit {
    font-size: 23px; }
  #partners div.feedback .sub_title {
    font-size: 9px;
    color: #797a7b; }
  #partners div.feedback .layout-column {
    text-align: center; }

#trading_accounts .header_image_parent {
  height: 350px;
  background: url("../img/trading_accounts_0.png");
  background-size: cover; }
  #trading_accounts .header_image_parent img {
    width: 100%; }

#trading_accounts h3 {
  font-weight: 400; }

#trading_accounts .text_block h3 {
  padding-left: 40px; }

#trading_accounts .text_block p {
  padding: 0 40px;
  font-size: 11px; }

#trading_accounts .tabs {
  padding-left: 40px; }
  #trading_accounts .tabs md-tabs .md-tab.md-active {
    color: #e7903e; }
  #trading_accounts .tabs md-tabs md-ink-bar {
    color: #e7903e;
    background-color: #e7903e; }
  #trading_accounts .tabs md-tabs md-tabs-wrapper {
    border-color: #e7903e; }
  #trading_accounts .tabs h3 {
    margin: 0;
    color: #e7903e;
    font-size: 23px; }
  #trading_accounts .tabs .table p {
    word-wrap: break-word; }
  #trading_accounts .tabs .table .layout-row {
    border-bottom: 1px solid gainsboro; }
  #trading_accounts .tabs .buttons_block {
    margin-top: 40px; }
    #trading_accounts .tabs .buttons_block a {
      display: inline-block;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px;
      background-color: #e7903e; }
  #trading_accounts .tabs .warning_text {
    font-size: 8px;
    font-style: italic; }
  #trading_accounts .tabs .notes {
    margin: 60px 0; }
    #trading_accounts .tabs .notes .notes_title {
      margin: 0;
      font-size: 13px;
      font-weight: bold; }
    #trading_accounts .tabs .notes ul {
      padding: 0;
      margin: 0; }
      #trading_accounts .tabs .notes ul li {
        font-size: 13px;
        list-style: none; }

.header-site {
  height: 87px;
  width: 100%;
  background: white;
  position: fixed;
  top: 40px;
  z-index: 8; }
  .header-site .header-site-content .header-site-content-logo {
    float: left;
    width: 250px; }
    .header-site .header-site-content .header-site-content-logo img {
      height: 87px; }
  .header-site .header-site-content .header-site-content-menu {
    float: right;
    margin-right: 15px; }
    .header-site .header-site-content .header-site-content-menu ul li {
      float: left;
      margin-left: 42px;
      display: block;
      margin-top: 15px;
      color: #303030;
      transition: .5s all;
      position: relative; }
      .header-site .header-site-content .header-site-content-menu ul li a {
        font-size: 11px;
        text-transform: uppercase;
        display: block;
        margin-top: 11px;
        text-decoration: none;
        color: #595959; }
      .header-site .header-site-content .header-site-content-menu ul li ul {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 36px solid transparent;
        width: 150px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity; }
        .header-site .header-site-content .header-site-content-menu ul li ul li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background;
          border-left: 2px solid transparent; }
          .header-site .header-site-content .header-site-content-menu ul li ul li a {
            color: white;
            text-transform: none;
            font-size: 10px;
            margin-top: 0; }
          .header-site .header-site-content .header-site-content-menu ul li ul li ul {
            position: absolute;
            padding: 0;
            margin-top: -9px;
            margin-left: -12px;
            border-top: 40px solid transparent;
            width: 150px;
            opacity: 0;
            top: -9999em;
            height: 0;
            transition: .5s opacity, height; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li {
              background: #282B33;
              transition: 0.2s all; }
              .header-site .header-site-content .header-site-content-menu ul li ul li ul li a {
                color: white;
                text-transform: none;
                font-size: 10px;
                margin-top: 0; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:nth-child(1) {
              border-top: none !important; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:hover {
              border: none;
              background: #F68B1F;
              margin-bottom: 0 !important; }
            .header-site .header-site-content .header-site-content-menu ul li ul li ul li:after {
              border: none !important; }
        .header-site .header-site-content .header-site-content-menu ul li ul li:nth-child(1) {
          border-top: 2px solid #F78B20; }
        .header-site .header-site-content .header-site-content-menu ul li ul li::after {
          content: " ";
          position: absolute;
          border: 5px solid;
          border-color: #ffffff transparent transparent transparent !important;
          top: 0.8em !important;
          right: 0.5em !important;
          transition: 0.3s; }
        .header-site .header-site-content .header-site-content-menu ul li ul li:hover::after {
          transform: scaleY(-1);
          top: 0.4em; }
        .header-site .header-site-content .header-site-content-menu ul li ul li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list .active {
        margin-bottom: 95px; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list .active .treading_list {
          opacity: 1;
          top: 0;
          height: auto; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_trading_list li:nth-child(1)::after {
        border: none; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list .active {
        margin-bottom: 95px; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list .active .research_list {
          opacity: 1;
          top: 0;
          height: auto; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_research_list li:nth-child(1)::after {
        border: none; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
      .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list {
        margin-left: -65px; }
        .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list .active {
          margin-bottom: 157px; }
          .header-site .header-site-content .header-site-content-menu ul li .header-site-content-menu_why_list .active .why_list {
            opacity: 1;
            top: 0;
            height: auto; }
      .header-site .header-site-content .header-site-content-menu ul li .active {
        opacity: 1;
        top: 0; }
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(1):after,
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(2):after,
    .header-site .header-site-content .header-site-content-menu ul li:nth-child(5):after {
      content: " ";
      position: absolute;
      border: 5px solid;
      border-color: #F78B20 transparent transparent transparent;
      top: 0.9em;
      right: -1.5em;
      transition: 0.3s; }
    .header-site .header-site-content .header-site-content-menu ul li:hover::after {
      transform: scaleY(-1);
      top: 0.6em; }

#header_language_block {
  background: #282B33 !important;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0; }
  #header_language_block .container {
    height: 40px; }
    #header_language_block .container div {
      position: relative; }
      #header_language_block .container div span {
        color: #B3B2B4;
        width: 50px;
        display: block;
        cursor: pointer; }
      #header_language_block .container div span:after {
        content: " ";
        position: absolute;
        border: 5px solid;
        border-color: #F78B20 transparent transparent transparent;
        top: 0.5em;
        right: 0.8em;
        transition: 0.3s; }
      #header_language_block .container div .header_language_block_list {
        position: absolute;
        padding: 0;
        margin-top: 17px;
        margin-left: -5px;
        border-top: 0px solid transparent;
        width: 50px;
        opacity: 0;
        top: -9999em;
        transition: .5s opacity;
        list-style-type: none; }
        #header_language_block .container div .header_language_block_list li {
          float: none !important;
          margin: 0;
          padding: 10px 10px;
          background: #393D49;
          box-sizing: border-box;
          transition: .5s background;
          border-left: 2px solid transparent;
          color: white;
          text-transform: none;
          font-size: 10px;
          cursor: pointer; }
        #header_language_block .container div .header_language_block_list li:hover {
          background: #4E5465;
          border-left: 2px solid #F78B20; }
      #header_language_block .container div .active {
        opacity: 1;
        top: 0; }
    #header_language_block .container button.header_language_block_account {
      margin-top: 1px;
      float: left;
      height: 26px;
      width: 122px;
      background: transparent;
      border-radius: 2px;
      border: 1px solid #C37323;
      color: #C37323;
      text-transform: uppercase;
      font-size: 13px; }
    #header_language_block .container button.header_language_block_client {
      margin-top: 1px;
      margin-left: 10px;
      float: left;
      border: none;
      background: transparent;
      color: #B3B2B4; }
      #header_language_block .container button.header_language_block_client svg {
        margin-left: 3px; }

#footer-block {
  height: auto;
  width: 100%; }
  #footer-block .footer_block_account {
    height: 350px;
    width: 100%; }
    #footer-block .footer_block_account div {
      width: 50%;
      height: 350px; }
      #footer-block .footer_block_account div div {
        background: transparent;
        width: 400px;
        height: auto;
        margin-top: 90px; }
        #footer-block .footer_block_account div div h3 {
          text-transform: uppercase;
          font-size: 20px;
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 400; }
        #footer-block .footer_block_account div div p {
          text-align: center;
          color: white;
          font-family: "Roboto";
          font-weight: 200;
          font-size: 18px; }
        #footer-block .footer_block_account div div button {
          width: 260px;
          height: 46px;
          text-transform: uppercase;
          color: white;
          border: none;
          border-radius: 3px; }
    #footer-block .footer_block_account div.footer_block_account_left {
      background-image: url("../../content/img/footer_demo account.png");
      background-position: center;
      background-size: cover; }
      #footer-block .footer_block_account div.footer_block_account_left div {
        float: right;
        margin-right: 100px; }
        #footer-block .footer_block_account div.footer_block_account_left div button {
          background: rgba(3, 131, 195, 0.8); }
    #footer-block .footer_block_account div.footer_block_account_right {
      background-image: url("../../content/img/footer_open account.png");
      background-position: center;
      background-size: cover; }
      #footer-block .footer_block_account div.footer_block_account_right div {
        float: left;
        margin-left: 100px; }
        #footer-block .footer_block_account div.footer_block_account_right div button {
          background: rgba(224, 132, 46, 0.8); }
  #footer-block .footer_block_help {
    height: 80px;
    width: 100%;
    background: #FBBF15; }
    #footer-block .footer_block_help h2 {
      color: white; }
    #footer-block .footer_block_help button {
      border: 1px solid #ffffff;
      background: transparent;
      color: white;
      width: 260px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 2px;
      font-size: 19px;
      margin-top: 10px;
      margin-left: 20px; }
      #footer-block .footer_block_help button i {
        font-size: 16px; }
  #footer-block .footer_block_info {
    width: 100%;
    height: auto;
    background: #022C2F; }
    #footer-block .footer_block_info .container p, #footer-block .footer_block_info .container a, #footer-block .footer_block_info .container li {
      color: #B3B3B4;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 25px;
      text-decoration: none;
      transition: .3s all; }
    #footer-block .footer_block_info .container a:hover {
      cursor: pointer;
      text-decoration: underline;
      font-size: 13.5px; }
  #footer-block .footer_block_warning {
    width: 100%;
    height: auto;
    background: #1B4143; }
    #footer-block .footer_block_warning .container {
      color: #B3B3B4;
      font-family: "Roboto", sans-serif; }
      #footer-block .footer_block_warning .container h3 {
        padding-top: 20px;
        margin: 0;
        font-weight: 400;
        letter-spacing: 0.5px; }
      #footer-block .footer_block_warning .container p {
        margin: 0;
        padding: 10px 0;
        font-size: 12px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: 0.5px; }
  #footer-block .footer_block_reserved {
    width: 100%;
    height: 30px;
    background: #022C2F; }
    #footer-block .footer_block_reserved .container {
      height: 30px; }
      #footer-block .footer_block_reserved .container p {
        margin: 0;
        color: #B3B3B4;
        font-size: 12px; }
      #footer-block .footer_block_reserved .container ul {
        list-style-type: none; }
        #footer-block .footer_block_reserved .container ul li {
          color: #B3B3B4;
          text-transform: uppercase;
          font-size: 12px;
          border-left: 1.5px solid #B3B3B4;
          padding: 0 7px;
          cursor: pointer; }
        #footer-block .footer_block_reserved .container ul li:first-child {
          border: none; }
        #footer-block .footer_block_reserved .container ul li:hover {
          text-decoration: underline; }

.menu {
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: none; }
  .menu .menu-close {
    border: none;
    background: transparent;
    font-size: 65px;
    float: right;
    position: absolute;
    right: 1%; }
    .menu .menu-close svg {
      color: white; }
  .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 60vh; }
    .menu ul li {
      text-align: center; }
      .menu ul li a {
        font-size: 50px; }

@media (min-width: 540px) and (max-width: 768px) {
  .menu ul li a {
    font-size: 48px !important; } }

@media (max-width: 540px) {
  .menu .menu-close {
    font-size: 45px !important; }
  .menu ul li a {
    font-size: 40px !important; } }

.get_started_block {
  width: 100%;
  background-color: #4db0c0;
  color: white; }
  .get_started_block div {
    text-align: center; }
    .get_started_block div p:first-child {
      font-weight: 600;
      font-size: 23px;
      margin-bottom: 0; }
    .get_started_block div p:last-child {
      margin-top: 0;
      font-size: 11px; }
    .get_started_block div a {
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 20px; }
    .get_started_block div a:first-child {
      background-color: #f2c046;
      border: 1px solid #f2c046; }
    .get_started_block div a:last-child {
      border: 1px solid white; }
  .get_started_block div.buttons {
    padding-right: 30px; }

.top_button .top_button_click {
  z-index: 10000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: 3px solid #8b8b8b;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  opacity: 0;
  transition: 0.8s all; }
  .top_button .top_button_click svg {
    color: #8b8b8b;
    font-size: 30px; }

.top_button .active_top_button {
  opacity: 1 !important; }

.top_button .top_button_click:hover {
  background: #f7b44c; }

::-webkit-scrollbar {
  width: 0px; }

a {
  cursor: pointer; }

.btn_anim {
  position: relative; }

.btn_anim:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(250, 248, 255, 0.49);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.btn_anim:hover::before {
  opacity: 1;
  width: 100%; }

.container {
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px; } }

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px; } }

@media (max-width: 540px) {
  .container {
    width: 310px; } }
