<div class="mt5">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'trading'"></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">


            <h4>{{'mt5_title1' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list1_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item5' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item6' | translate}}</p>
                </li>
            </ul>
            <h4>{{'mt5_title2' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list2_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item5' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item6' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item7' | translate}}</p>
                </li>
            </ul>
            <p>{{'mt5_text1' | translate}}</p>
            <h4>{{'mt5_title3' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list3_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item5' | translate}}</p>
                </li>
            </ul>
            <h4>{{'mt5_title4' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list4_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item4' | translate}}</p>
                </li>
                <li>
                    <p style="word-break: break-all;">{{'mt5_list4_item5' | translate}}</p>
                </li>
            </ul>

            <a target="_blank" href="https://www.mql5.com/ru/articles/619?utm_source=www.metaquotes.net&utm_campaign=download.mt5.macos" class="main_button btn_anim ng-binding">Mac OS</a>
            <a target="_blank" href="https://www.mql5.com/ru/articles/625?utm_source=www.metaquotes.net&utm_campaign=download.mt5.linux" class="main_button btn_anim ng-binding">Linux</a>
            <a target="_blank" href="https://www.mql5.com/ru/trading" class="main_button btn_anim ng-binding">WEB Traiding</a>


            <!--<h2>{{'mt5_download' | translate}}</h2>-->

            <!--<div style="margin: 30px 0 30px 0">-->
                <!---->
            <!--</div>-->


            <h4>{{'mt5_title5' | translate}}</h4>
            <p>{{'mt5_text2' | translate}}</p>
            <h4>{{'mt5_title6' | translate}}</h4>
            <p>{{'mt5_text3' | translate}}</p>
            <a target="_blank" href="https://itunes.apple.com/ru/app/metatrader-5-forex-stocks/id413251709?utm_source=www.metaquotes.net&utm_campaign=download" class="main_button btn_anim ng-binding">Download</a>



            <h4>{{'mt5_title7' | translate}}</h4>
            <p>{{'mt5_text4' | translate}}</p>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader5&hl=ru&referrer=ref_id%3d4acbf2ef%26utm_source%3dwww.metaquotes.net%26utm_campaign%3ddownload" class="main_button btn_anim ng-binding">Download</a>

            <h4>{{'mt5_title8' | translate}}</h4>
            <p>{{'mt5_text5' | translate}}</p>
            <h4>{{'mt5_title9' | translate}}</h4>
            <p>{{'mt5_text6' | translate}}</p>
            <a target="_blank" href="https://itunes.apple.com/ru/app/metatrader-5-forex-stocks/id413251709?utm_source=www.metaquotes.net&utm_campaign=download" class="main_button btn_anim ng-binding">Download</a>



        </div>


    </div>
    <footer-block></footer-block>


</div>