<div class="mt5">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'trading'"></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">


            <h4>{{'mt5_title1' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list1_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item5' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list1_item6' | translate}}</p>
                </li>
            </ul>
            <h4>{{'mt5_title2' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list2_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item5' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item6' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list2_item7' | translate}}</p>
                </li>
            </ul>
            <p>{{'mt5_text1' | translate}}</p>
            <h4>{{'mt5_title3' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list3_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list3_item5' | translate}}</p>
                </li>
            </ul>
            <h4>{{'mt5_title4' | translate}}</h4>
            <ul>
                <li>
                    <p>{{'mt5_list4_item1' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item2' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item3' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item4' | translate}}</p>
                </li>
                <li>
                    <p>{{'mt5_list4_item5' | translate}}</p>
                </li>
            </ul>
            <h2>{{'mt5_title5' | translate}}</h2>
            <p>{{'mt5_text2' | translate}}</p>
            <h4>{{'mt5_title6' | translate}}</h4>
            <p>{{'mt5_text3' | translate}}</p>
            <h4>{{'mt5_title7' | translate}}</h4>
            <p>{{'mt5_text4' | translate}}</p>
            <h2>{{'mt5_title8' | translate}}</h2>
            <p>{{'mt5_text5' | translate}}</p>
            <h4>{{'mt5_title9' | translate}}</h4>
            <p>{{'mt5_text6' | translate}}</p>


        </div>


    </div>
    <footer-block></footer-block>


</div>