<div class="privacy_policy">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'about'"></header-slider-block>

    <div class="container">

        <top-button></top-button>

        <div class="text_block">
            <h2>{{'privacy_policy' | translate}}</h2>
            <p>{{'privacy_policy_1'| translate}}</p>
            <p>{{'privacy_policy_2'| translate}}</p>
            <p>{{'privacy_policy_3'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_3_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_3_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_3_3' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_3_4' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_3_5' | translate}}</p>
                </li>
            </ul>
            <p>{{'privacy_policy_4'| translate}}</p>
            <h4>{{'privacy_policy_title1'| translate}}</h4>

            <p>{{'privacy_policy_5'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_5_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_5_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_5_3' | translate}}</p>
                </li>
            </ul>
            <p>{{'privacy_policy_6'| translate}}</p>
            <h4>{{'privacy_policy_title2'| translate}}</h4>

            <p>{{'privacy_policy_7'| translate}}</p>
            <h4>{{'privacy_policy_title3'| translate}}</h4>

            <p>{{'privacy_policy_8'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_8_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_8_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_8_3' | translate}}</p>
                </li>
            </ul>
            <p>{{'privacy_policy_title4'| translate}}</p>

            <p>{{'privacy_policy_9'| translate}}</p>
            <h4>{{'privacy_policy_title5'| translate}}</h4>

            <p>{{'privacy_policy_10'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_10_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_10_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_10_3' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_10_4' | translate}}</p>
                </li>
            </ul>
            <h4>{{'privacy_policy_title6'| translate}}</h4>

            <p>{{'privacy_policy_11'| translate}}</p>
            <h4>{{'privacy_policy_title7'| translate}}</h4>

            <p>{{'privacy_policy_12'| translate}}</p>
            <h4>{{'privacy_policy_title8'| translate}}</h4>

            <p>{{'privacy_policy_13'| translate}}</p>
            <h4>{{'privacy_policy_title9'| translate}}</h4>

            <p>{{'privacy_policy_14'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_14_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_3' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_4' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_5' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_6' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_14_7' | translate}}</p>
                </li>
            </ul>
            <h4>{{'privacy_policy_title10'| translate}}</h4>

            <p>{{'privacy_policy_15'| translate}}</p>
            <ul>
                <li>
                    <p>{{'privacy_policy_15_1' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_15_2' | translate}}</p>
                </li>
                <li>
                    <p>{{'privacy_policy_15_3' | translate}}</p>
                </li>
            </ul>
            <h4>{{'privacy_policy_title11'| translate}}</h4>

            <p>{{'privacy_policy_16'| translate}}</p>
            <h4>{{'privacy_policy_title12'| translate}}</h4>


            <p>{{'privacy_policy_17'| translate}}</p>









        </div>

    </div>
    <footer-block></footer-block>
</div>