<div class="agent">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'partners'"></header-slider-block>

    <div class="container">

        <top-button></top-button>


        <div class="text_block">



            <h2>{{'agent_main_title' | translate}}</h2>
            <p>{{'agent_main_text1' | translate}}</p>
            <p class="italic">{{'agent_main_text2' | translate}}</p>
            <div class="line"></div>
            <p class="bold">{{'agent_main_text1_bold' | translate}}</p>
            <p>{{'agent_main_text3' | translate}}</p>
            <p class="italic">{{'agent_main_text1_italic' | translate}}</p>
            <p>{{'agent_main_text4' | translate}}</p>
            <p class="italic">{{'agent_main_text2_italic' | translate}}</p>
            <p class="bold">{{'agent_main_text2_bold' | translate}}</p>
            <p>{{'agent_main_text5' | translate}}</p>





        </div>


    </div>
    <footer-block></footer-block>


</div>