#homepage {
  //font-family: 'Calibri';

  .header_image_parent {
    height: 350px;
    background: url("../img/home_0.png");
    background-size: cover;
    img {
      width: 100%;
    }
  }
  //landing
  div.why_trade {
    padding: 20px 0;
    background-color: $why_trade_bg;
    p {
      margin: 0;
      text-transform: uppercase;
      color: $color_gray;
      text-align: center;
      font-size: 23px;
      font-weight: 600;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 25px;
        min-height: 125px;
        img {
          max-width: 81px;
        }
        span {
          color: $color_gray;
          font-weight: 600;
          font-size: 13px;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }

  div.platforms_block {
    h1 {
      padding-left: 60px;
      margin-bottom: 0;
    }
    color: $platforms_text_color;
    div.text_block {
      padding: 40px 60px;
      p:first-child {
        font-weight: 500;
        margin-top: 0;
      }
      p.text {
        font-size: 15px;
      }
      a {
        background-color: $bg_orange_btn;
        color: $white_text_color;
        display: inline-block;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 45px;
      }
    }
    div.img_parent_block {
      padding-top: 40px;
    }
    img {
      width: 100%;
    }
  }

  div.images_block {
    padding: 0 40px;
    img {
      width: 100%;
      height: 100%;
    }
    div{
      div{
        div{
         svg{
           padding-left: 5px;
           font-size: 14px;
         }
        }
      }
    }

    .empty {
      padding: 15px;
      color: $white_text_color;
    }
    .empty_blue {
      background-color: $bg_empty_blue;
    }
    .empty_orange {
      background-color: $bg_empty_orange;
    }
    .layout-row {
      height: 545px;
    }

    .empty_light_orange {
      background-color: $bg_empty_orange;

    }
    .empty_yellow {
      background-color: $bg_empty_yellow;
    }
    .empty_light_green {
      background-color: $bg_empty_light_green;
    }
    .empty_light_blue {
      background-color: $bg_empty_light_blue;
    }
  }

  div.feedback {
    padding: 40px;
    .digit {
      font-size: 23px;
    }
    .sub_title {
      font-size: 9px;
      color: rgb(121, 122, 123);
    }
    .layout-column {
      text-align: center;
    }
  }
  //media
  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1499px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {

  }

  @media (min-width: 540px) and (max-width: 768px) {

  }

  @media (max-width: 540px) {
  }
}