<div id="homepage">
    <header-language-block></header-language-block>
    <header-block></header-block>
    <header-slider-block></header-slider-block>
    <div class="container">
        <get-started-block></get-started-block>


        <div class="why_trade">
            <p>why trade with magic compass</p>
            <ul layout="row" layout-align="center center">
                <li layout="column">
                    <p><img alt="eu regulation" src="content/img/home_1.png"></p>
                    <span>EU regulation</span>
                </li>
                <li layout="column">
                    <p><img alt="competitive pricing" src="content/img/home_2.png"></p>
                    <span>competitive <br> pricing</span>
                </li>
                <li layout="column">
                    <p><img alt="excellent execution" src="content/img/home_3.png"></p>

                    <span>excellent<br> execution</span>
                </li>
                <li layout="column" layout-align="center">
                    <p><img alt="4 asset classes" src="content/img/home_4.png"></p>
                    <span>4 asset classes</span>
                </li>
                <li layout="column">
                    <p><img alt="negative balance protection" src="content/img/home_5.png"></p>

                    <span>negative balance <br>protection</span>
                </li>
                <li layout="column">
                    <p><img alt="24/5 support" src="content/img/home_6.png"></p>

                    <span>24/5 support</span>
                </li>
            </ul>
        </div>

        <div class="platforms_block">
            <h1>Platforms</h1>
            <div layout="row">
                <div flex="50" class="text_block">
                    <p>A platform for evert type of trader.</p>
                    <p class="text">The MetaTrader 4 trading platform has stood the test of time in the face of so much
                        advancement and increased competition because it has continued to evolve over the years.</p>
                    <p class="text">MetaQuotes, the development team behind the MT4 platform, has continued to refine
                        the platform
                        and
                        add
                        new
                        features in accordance with demand and the times. This is why it remains the number one choice
                        for
                        traders
                        and thus us why we at Magic Compass, offer it as our primary trading platform for investors.
                    </p>

                    <a>learn more</a>

                </div>
                <div flex="50" class="img_parent_block">
                    <img src="content/img/home_7.png">
                </div>
            </div>

        </div>

        <div class="images_block">
            <div layout="row">
                <div flex="25" layout="column">
                    <div flex="50" class="empty_blue empty">
                        <a>Our Advantages<i class="fas fa-caret-right"></i></a>
                    </div>
                    <div flex="50"><img alt="img_8" src="content/img/home_8.png"></div>
                </div>
                <div flex="50">
                    <img alt="img_9" src="content/img/home_9.png">
                </div>
                <div flex="25" layout="column">
                    <div flex="50">
                        <img alt="home_10" src="content/img/home_10.png">
                    </div>
                    <div flex="50" class="empty_orange empty">
                        <a>Trading Accounts<i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div flex="25" layout="column">
                    <div flex="50"><img alt="home_11" src="content/img/home_11.png"></div>
                    <div flex="50" class="empty_light_orange empty">
                        <a>Forex Education<i class="fas fa-caret-right"></i></a>

                    </div>
                </div>
                <div flex="25" layout="column">
                    <div flex="50" class="empty_yellow empty">
                        <a>Regulation And Safety of Founds<i class="fas fa-caret-right"></i></a>
                    </div>
                    <div flex="50"><img alt="home_13" src="content/img/home_13.png"></div>
                </div>
                <div flex="25" layout="column">
                    <div flex="50" class="empty_light_green empty">
                        <a>Daily Market research and Analysis<i class="fas fa-caret-right"></i></a>
                    </div>
                    <div flex="50"><img alt="home_14" src="content/img/home_14.png"></div>
                </div>
                <div flex="25" layout="column">
                    <div flex="50"><img alt="home_12" src="content/img/home_12.png"></div>
                    <div flex="50" class="empty_light_blue empty">
                        <a>Partnership Opportunities<i class="fas fa-caret-right"></i></a>
                    </div>
                </div>

            </div>

        </div>

        <div class="feedback" layout="row">
            <div layout="column" flex="">
                <div class="icon"><img alt="home_15" src="content/img/home_15.png"></div>
                <div class="digit">812</div>
                <div class="main_title">Successful Investments</div>
                <div class="sub_title">Market leading experience</div>
            </div>
            <div layout="column" flex="">
                <div class="icon"><img alt="home_16" src="content/img/home_16.png"></div>
                <div class="digit">238</div>
                <div class="main_title">Hardworking people</div>
                <div class="sub_title">Market leading experience</div>
            </div>
            <div layout="column" flex="">
                <div class="icon"><img alt="home_17" src="content/img/home_17.png"></div>
                <div class="digit">10</div>
                <div class="main_title">Years of experience</div>
                <div class="sub_title">Market leading experience</div>
            </div>
            <div layout="column" flex="">
                <div class="icon"><img alt="home_18" src="content/img/home_18.png"></div>
                <div class="digit">168</div>
                <div class="main_title">Happy Clients</div>
                <div class="sub_title">Market leading experience</div>
            </div>

        </div>
    </div>
    <footer-block></footer-block>


</div>