<div class="input_withdrawal">

    <header-language-block></header-language-block>

    <header-block></header-block>

    <header-slider-block background="'trading'"></header-slider-block>

    <!--<div class="header_image_parent"></div>-->

    <div class="container">

        <top-button></top-button>


        <div class="table_block">
            <p>{{'general_information_text1' | translate}}</p>


            <div class="table">
                <div class="table_title"><h4>Дебетовые и Кредитные карты</h4></div>
                <table>
                    <thead>
                    <tr>
                        <td>
                            <p>Способ Пополнения</p>
                        </td>
                        <td>
                            <p>Валюта*</p>
                        </td>
                        <td>
                            <p>Комиссия</p>
                        </td>
                        <td>
                            <p>Срок перевода</p>
                        </td>
                        <td><p>
                            Особенности и ограничения
                        </p></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <p>USD / EUR / RUB</p>
                        </td>
                        <td>
                            <p> 2.9%  (min $3.5) </p>
                        </td>
                        <td>
                            <p>от 1 рабочего  дня</p>
                        </td>
                        <td><p>  Согласно условиям вашего  банка-эквайера </p></td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img src="content/img/input_withdrawal/visa.png" alt="">-->
                        </td>
                        <td>
                            <p>USD / EUR / RUB</p>
                        </td>
                        <td>
                            <p> 2.9%  (min $3.5) </p>
                        </td>
                        <td>
                            <p>от 1 рабочего  дня</p>
                        </td>
                        <td><p>  Согласно условиям вашего  банка-эквайера </p></td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img src="content/img/input_withdrawal/visa.png" alt="">-->
                        </td>
                        <td>
                            <p>USD / CNY</p>
                        </td>
                        <td>
                            <p> 2 % </p>
                        </td>
                        <td>
                            <p>от 1 рабочего  дня</p>
                        </td>
                        <td><p>  Согласно условиям вашего  банка-эквайера </p></td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


    </div>
    <footer-block></footer-block>


</div>